<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.BankAccountMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.vo.FeeAccountVO">
        <id column="pk_account" property="pk_account" jdbcType="CHAR"/>
        <result column="pk_corp" property="pk_corp" jdbcType="CHAR"/>
        <result column="pk_fee" property="pk_fee" jdbcType="CHAR"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="vdef1" property="vdef1" jdbcType="CHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM T_BANK_ACCOUNT
        WHERE "pk_account" = #{pk_account,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.vo.FeeAccountVO">
        INSERT INTO T_BANK_ACCOUNT ("pk_account", "pk_corp", "pk_fee",
        "account", "vdef1")
        VALUES (#{pk_account,jdbcType=CHAR}, #{pk_corp,jdbcType=CHAR}, #{pk_fee,jdbcType=CHAR},
        #{account,jdbcType=VARCHAR}, #{vdef1,jdbcType=CHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.vo.FeeAccountVO">
        UPDATE T_BANK_ACCOUNT
        SET "pk_corp" = #{pk_corp,jdbcType=CHAR},
        "pk_fee" = #{pk_fee,jdbcType=CHAR},
        "account" = #{account,jdbcType=VARCHAR},
        "vdef1" = #{vdef1,jdbcType=CHAR}
        WHERE "pk_account" = #{pk_account,jdbcType=CHAR}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        "pk_account",
        "pk_corp",
        "pk_fee",
        "account",
        "vdef1"
        FROM T_BANK_ACCOUNT
        WHERE "pk_account" = #{pk_account,jdbcType=CHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        "pk_account",
        "pk_corp",
        "pk_fee",
        "account",
        "vdef1"
        FROM T_BANK_ACCOUNT
    </select>
</mapper>