<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.CustomerCentreMapper" >
  <select id="findCustomer" resultType="cn.rzhd.wuye.bean.Customer">
  		SELECT
  			 LOGO,
			"pk_corp",
			"pk_customerid",
			"vcname",
			"vpreferredtel"
		FROM
			"T_Customer"
		WHERE
			"pk_customerid" = #{customer.pk_customerid}
  </select>
  <select id="findHouse" resultType="java.util.Map">
  		SELECT
			POI.PROJECT_NAME,
			HI.HOUSE_PROPERTY,
			HI.STAR_LEVEL,
			PI.*

		FROM
			T_HOUSE_INFO HI
			LEFT JOIN T_PERFECT_INFORMATION PI ON HI.HOUSE_INFO_ID = PI.HOUSE_INFO_ID
			LEFT JOIN T_PROJECT_INFO POI ON HI.PROJECT_INFO_ID = POI.PK_PROJECT
		WHERE
			HI.CUSTOMER_ID = #{customer.pk_customerid}
  </select>
  <select id="updateLogo">
  		UPDATE "T_Customer" SET LOGO=#{customer.LOGO}  WHERE "pk_customerid"=#{customer.pk_customerid}
  </select>
  <select id="updatePhone">
  	UPDATE "T_Customer" SET vpreferredtel=#{customer.vpreferredtel}  WHERE "pk_customerid"=#{customer.pk_customerid}
  </select>
 <!--  <select id="updatePerfectInformation"></select> -->
 
 
</mapper>