<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.CustomerCentreMapper" >
  <select id="findCustomer" resultType="cn.rzhd.wuye.bean.Customer">
  		SELECT
  			 LOGO,
			"pk_corp",
			"pk_customerid",
			"vcname",
			"vpreferredtel"
		FROM
			"T_Customer"
		WHERE
			"pk_customerid" = #{customer.pk_customerid}
  </select>
  <select id="findHouse" resultType="java.util.Map">
  		SELECT
			POI.PROJECT_NAME,
			HI.HOUSE_PROPERTY,
			HI.STAR_LEVEL,
			PI.*

		FROM
			T_HOUSE_INFO HI
			LEFT JOIN T_PERFECT_INFORMATION PI ON HI.HOUSE_INFO_ID = PI.HOUSE_INFO_ID
			LEFT JOIN T_PROJECT_INFO POI ON HI.PROJECT_INFO_ID = POI.PK_PROJECT
		WHERE
			HI.CUSTOMER_ID = #{customer.pk_customerid}
  </select>
  
  <select id="getAll" resultMap="InfoMap">
  	 SELECT *  FROM T_PERFECT_INFORMATION
  </select>
  
    
  
	  <select id="findInfoById" parameterType="String" resultMap="InfoMap">
	  		SELECT * FROM T_PERFECT_INFORMATION WHERE trim(CUSTOMER_ID) = #{customerId,jdbcType=CHAR}
	  </select>
  
    <resultMap type="cn.rzhd.wuye.bean.PerfectInformation" id="InfoMap">
		<id property="customerId" column="CUSTOMER_ID"/>
		<result property="houseInfoId" column="HOUSE_INFO_ID"/>
		<result property="companyType" column="COMPANY_TYPE"/>
		<result property="perfectInformationId" column="PERFECT_INFORMATION_ID"/>
		<result property="housePropertyId" column="HOUSE_PROPERTY_ID"/>
		<result property="companyEstablishTime" column="COMPANY_ESTABLISH_TIME"/>
		<result property="signInFund" column="SIGN_IN_FUND"/>
		<result property="industryInvolvedId" column="INDUSTRY_INVOLVED_ID"/>
		<result property="mainProduct" column="MAIN_PRODUCT"/>
		<result property="companyCoverageId" column="COMPANY_COVERAGE_ID"/>
		<result property="employeeNumber" column="EMPLOYEE_NUMBER"/>
		<result property="propertyToAccess" column="PROPERTY_TO_ACCESS"/>
		<result property="propertyToAccessContact" column="PROPERTY_TO_ACCESS_CONTACT"/>
		<result property="emergencyContactPerson" column="EMERGENCY_CONTACT_PERSON"/>
		<result property="emergencyContactNumber" column="EMERGENCY_CONTACT_NUMBER"/>
		<result property="isHighNew" column="IS_HIGH_NEW"/>
		<result property="highNewType" column="HIGH_NEW_TYPE"/>
		<result property="certificateTime" column="CERTIFICATE_TIME"/>
		<result property="patentTypeId" column="PATENT_TYPE_ID"/>
		<result property="patentNumber" column="PATENT_NUMBER"/>
		<result property="isUpBazaar" column="IS_UP_BAZAAR"/>
		<result property="upBazaarTypeId" column="UP_BAZAAR_TYPE_ID"/>
		<result property="hangBoardTime" column="HANG_BOARD_TIME"/>
		<result property="stockCode" column="STOCK_CODE"/>
		<result property="notes" column="NOTES"/>
		<result property="status" column="STATUS"/>
		<result property="carteTime" column="CARTE_TIME"/>
		<result property="updateTime" column="UPDATE_TIME"/>
		<result property="URavinePropertyId" column="U_RAVINE_PROPERTY_ID"/>
	</resultMap>
  
  <update id="updateLogo">
  		UPDATE "T_Customer" SET LOGO=#{customer.LOGO}  WHERE "pk_customerid"=#{customer.pk_customerid}
  </update>
  <update id="updatePhone">
  	UPDATE "T_Customer" SET vpreferredtel=#{customer.vpreferredtel}  WHERE "pk_customerid"=#{customer.pk_customerid}
  </update>
  <update id="updatePerfectInformation">
  	UPDATE 
  		T_PERFECT_INFORMATION
	SET (
		COMPANY_TYPE=#{perfectInformation.companyType},
		HOUSE_PROPERTY_ID=#{perfectInformation.housePropertyId},
		U_RAVINE_PROPERTY_ID=#{perfectInformation.URavinePropertyId},
		COMPANY_ESTABLISH_TIME=#{perfectInformation.companyEstablishTime},
		SIGN_IN_FUND=#{perfectInformation.signInFund},
		INDUSTRY_INVOLVED_ID=#{perfectInformation.industryInvolvedId},
		MAIN_PRODUCT=#{perfectInformation.mainProduct},
		COMPANY_COVERAGE_ID=#{perfectInformation.companyCoverageId},
		EMPLOYEE_NUMBER=#{perfectInformation.employeeNumber},
		PROPERTY_TO_ACCESS=#{perfectInformation.propertyToAccess},
		PROPERTY_TO_ACCESS_CONTACT=#{perfectInformation.propertyToAccessContact},
		EMERGENCY_CONTACT_PERSON=#{perfectInformation.emergencyContactPerson},
		EMERGENCY_CONTACT_NUMBER=#{perfectInformation.emergencyContactNumber},
		IS_HIGH_NEW=#{perfectInformation.isHighNew},
		HIGH_NEW_TYPE=#{perfectInformation.highNewType},
		CERTIFICATE_TIME=#{perfectInformation.certificateTime},
		PATENT_TYPE_ID=#{perfectInformation.patentTypeId},
		PATENT_NUMBER=#{perfectInformation.patentNumber},
		IS_UP_BAZAAR=#{perfectInformation.isUpBazaar},
		UP_BAZAAR_TYPE_ID=#{perfectInformation.upBazaarTypeId},
		HANG_BOARD_TIME=#{perfectInformation.hangBoardTime},
		STOCK_CODE=#{perfectInformation.stockCode},
		NOTES=#{perfectInformation.notes},
		UPDATE_TIME=#{perfectInformation.updateTime}
	)
	WHERE
		PERFECT_INFORMATION_ID = #{perfectInformation.perfectInformationId}
  </update>
  
 	
</mapper>