<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.CustomerMapper">

    <resultMap id="customerMap" type="cn.rzhd.wuye.bean.Customer">
        <id property="pk_customerid" column="pk_customerid"/>
        <result property="pk_corp" column="pk_corp"/>
        <result property="fccategory" column="fccategory"/>
        <result property="vccode" column="vccode"/>
        <result property="vcname" column="vcname"/>
        <result property="vpcnamespell" column="vpcnamespell"/>
        <result property="vpreferredtel" column="vpreferredtel"/>
        <result property="vccardnum" column="vccardnum"/>
        <result property="vcaddress" column="vcaddress"/>
        <result property="ccpostalcode" column="ccpostalcode"/>
        <result property="dregdate" column="dregdate"/>
        <result property="vregplace" column="vregplace"/>
        <result property="vmemcardno" column="vmemcardno"/>
        <result property="vpcemail" column="vpcemail"/>
        <result property="nproperty" column="nproperty"/>
        <result property="LOGO" column="LOGO"/>
        <result property="companyType" column="Company_Type"/>
        <result property="password" column="Password"/>
        <result property="bindingPhone" column="Binding_Phone"/>
        <result property="currentFlow" column="CURRENT_FLOW"/>
        <result property="alreadyFinish" column="ALREADY_FINISH"/>
        <result property="currentHouseId" column="CURRENT_HOUSE_ID"/>
        <result property="updateData" column="update_data"/>
    </resultMap>
    <select id="loginByPwd" parameterType="cn.rzhd.wuye.bean.Customer" resultMap="customerMap">
        SELECT
            DISTINCT
            "pk_corp",
            "pk_customerid",
            "fccategory",
            "vccode",
            "vcname",
            "vpcnamespell",
            "vpreferredtel",
            "vccardnum",
            "vcaddress",
            "ccpostalcode",
            "dregdate",
            "vregplace",
            "vmemcardno",
            "vpcemail",
            "nproperty",
            LOGO,
            "Company_Type",
            "Password",
            "Binding_Phone",
            CURRENT_FLOW,
            ALREADY_FINISH,
            CURRENT_HOUSE_ID
        FROM "T_Customer"
        WHERE "vccode" = #{vccode} AND "Password" = #{password} AND "fccategory" = 1
    </select>

    <!-- 用户列表分页查询 -->
    <select id="findCustomerList" resultMap="customerMap">
        SELECT *
        FROM (SELECT
                  C.*,
                  ROWNUM RN
              FROM (SELECT *
                    FROM "T_Customer") C)
        WHERE RN BETWEEN #{pageStartRow} AND #{pageEndRow}
    </select>
    <!-- 用户列表条件查询 -->
    <select id="findCustomerByCondition" resultMap="customerMap">

        SELECT *
        FROM (SELECT
                  C.*,
                  ROWNUM RN
              FROM (SELECT *
                    FROM "T_Customer"
                    WHERE "vcname" LIKE CONCAT(CONCAT('%', #{condition}), '%') OR
                          "Binding_Phone" LIKE CONCAT(CONCAT('%', #{condition}), '%')) C)
        WHERE RN BETWEEN #{pageStartRow} AND
        #{pageEndRow}
    </select>

    <!-- 添加用户 -->
    <insert id="addCustomer">
        INSERT INTO "T_Customer" ("pk_corp", "pk_customerid", "fccategory", "vccode", "vcname",
                                  "vpcnamespell", "vpreferredtel", "vccardnum", "vcaddress", "ccpostalcode", "dregdate",
                                  "vregplace", "vmemcardno", "vpcemail", "nproperty")
        VALUES
            (#{customerVo.pk_corp}, #{customerVo.pk_customerid}, #{customerVo.fccategory}
                , #{customerVo.vccode}, #{customerVo.vcname}, #{customerVo.vpcnamespell}
                , #{customerVo.vpreferredtel}, #{customerVo.vccardnum}, #{customerVo.vcaddress}
                , #{customerVo.ccpostalcode}, #{customerVo.dregdate}, #{customerVo.vregplace}
                , #{customerVo.vmemcardno}, #{customerVo.vpcemail}, #{customerVo.nproperty})
    </insert>
    <!-- 用户信息修改 操作-->
    <update id="updateCustomer">
        UPDATE "T_Customer"
        SET
            "pk_corp"       = #{customerVo.pk_corp}, "fccategory" = #{customerVo.fccategory},
            "vccode"        = #{customerVo.vccode}, "vcname" = #{customerVo.vcname},
            "vpcnamespell"  = #{customerVo.vpcnamespell},
            "vpreferredtel" = #{customerVo.vpreferredtel}, "vccardnum" = #{customerVo.vccardnum},
            "vcaddress"     = #{customerVo.vcaddress},
            "ccpostalcode"  = #{customerVo.ccpostalcode}, "dregdate" = #{customerVo.dregdate},
            "vregplace"     = #{customerVo.vregplace},
            "vmemcardno"    = #{customerVo.vmemcardno}, "vpcemail" = #{customerVo.vpcemail},
            "nproperty"     = #{customerVo.nproperty}
        WHERE "pk_customerid" = #{customerVo.pk_customerid}
    </update>

    <!-- 用户信息删除操作 -->
    <delete id="delCustomerById">
        DELETE FROM "T_Customer"
        WHERE "pk_customerid" = #{customerVo.pk_customerid}
    </delete>

    <!--  查询信息是否已经保存 -->
    <select id="findCustomerIsRepetitionByErpId" resultType="cn.rzhd.wuye.bean.Customer">
        SELECT *
        FROM "T_Customer"
        WHERE "pk_customerid" = #{customerVo.pk_customerid}
    </select>

    <!--临时用于拉取数据的查询所有-->
    <select id="getAll" resultMap="customerMap">
        SELECT *
        FROM "T_Customer"
    </select>

    <update id="updadteState">
        UPDATE "T_Customer"
        SET CURRENT_FLOW = #{currentFlow}
        WHERE "houseInfoId" = #{houseInfoId}
    </update>

</mapper>