<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.CustomerCentreMapper" >
  <select id="findCustomer" resultType="cn.rzhd.wuye.bean.Customer">
  		SELECT
  			 LOGO,
			"pk_corp",
			"pk_customerid",
			"vcname",
			"vpreferredtel"
		FROM
			"T_Customer"
		WHERE
			"pk_customerid" = #{customer.pk_customerid}
  </select>
  <select id="findHouse" resultType="java.util.Map">
  		SELECT
			POI.PROJECT_NAME,
			HI.HOUSE_PROPERTY,
			HI.STAR_LEVEL,
			PI.*

		FROM
			T_HOUSE_INFO HI
			LEFT JOIN T_PERFECT_INFORMATION PI ON HI.HOUSE_INFO_ID = PI.HOUSE_INFO_ID
			LEFT JOIN T_PROJECT_INFO POI ON HI.PROJECT_INFO_ID = POI.PK_PROJECT
		WHERE
			HI.CUSTOMER_ID = #{customer.pk_customerid}
  </select>
  <select id="updateLogo">
  		UPDATE "T_Customer" SET LOGO=#{customer.LOGO}  WHERE "pk_customerid"=#{customer.pk_customerid}
  </select>
  <update id="updatePhone">
  	UPDATE "T_Customer" SET vpreferredtel=#{customer.vpreferredtel}  WHERE "pk_customerid"=#{customer.pk_customerid}
  </update>
  <update id="updatePerfectInformation">
  	UPDATE 
  		T_PERFECT_INFORMATION
	SET (
		COMPANY_TYPE=#{perfectInformation.companyType},
		HOUSE_PROPERTY_ID=#{perfectInformation.housePropertyId},
		U_RAVINE_PROPERTY_ID=#{perfectInformation.URavinePropertyId},
		COMPANY_ESTABLISH_TIME=#{perfectInformation.companyEstablishTime},
		SIGN_IN_FUND=#{perfectInformation.signInFund},
		INDUSTRY_INVOLVED_ID=#{perfectInformation.industryInvolvedId},
		MAIN_PRODUCT=#{perfectInformation.mainProduct},
		COMPANY_COVERAGE_ID=#{perfectInformation.companyCoverageId},
		EMPLOYEE_NUMBER=#{perfectInformation.employeeNumber},
		PROPERTY_TO_ACCESS=#{perfectInformation.propertyToAccess},
		PROPERTY_TO_ACCESS_CONTACT=#{perfectInformation.propertyToAccessContact},
		EMERGENCY_CONTACT_PERSON=#{perfectInformation.emergencyContactPerson},
		EMERGENCY_CONTACT_NUMBER=#{perfectInformation.emergencyContactNumber},
		IS_HIGH_NEW=#{perfectInformation.isHighNew},
		HIGH_NEW_TYPE=#{perfectInformation.highNewType},
		CERTIFICATE_TIME=#{perfectInformation.certificateTime},
		PATENT_TYPE_ID=#{perfectInformation.patentTypeId},
		PATENT_NUMBER=#{perfectInformation.patentNumber},
		IS_UP_BAZAAR=#{perfectInformation.isUpBazaar},
		UP_BAZAAR_TYPE_ID=#{perfectInformation.upBazaarTypeId},
		HANG_BOARD_TIME=#{perfectInformation.hangBoardTime},
		STOCK_CODE=#{perfectInformation.stockCode},
		NOTES=#{perfectInformation.notes},
		UPDATE_TIME=#{perfectInformation.updateTime}
	)
	WHERE
		PERFECT_INFORMATION_ID = #{perfectInformation.perfectInformationId}
  </update>
 
 
</mapper>