<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.DecorationApplyMapper">
    <resultMap id="DecorationApplyMapper" type="java.util.Map">
        <id column="DECORATION_APPLY_ID" property="decorationApplyId" jdbcType="DECIMAL"/>
        <result column="HOUSE_INFO_ID" property="houseInfoId" jdbcType="DECIMAL"/>
        <result column="CLIENT_NAME" property="clientName" jdbcType="OTHER"/>
        <result column="APPLY_TIME" property="applyTime" jdbcType="DATE"/>
        <result column="ANTIPATE_TIME" property="antipateTime" jdbcType="DATE"/>
        <result column="LOCALE_CUSTODIAN" property="localeCustodian" jdbcType="OTHER"/>
        <result column="LOCALE_CUSTODIAN_PHONE" property="localeCustodianPhone" jdbcType="VARCHAR"/>
        <result column="DECORATION_PARTS" property="decorationParts" jdbcType="OTHER"/>
        <result column="DECORATE_AREA" property="decorateArea" jdbcType="FLOAT"/>
        <result column="CONSTRUCT_PEOPLE_NUMBER" property="constructPeopleNumber" jdbcType="DECIMAL"/>
        <result column="DECORATION_COMPANY" property="decorationCompany" jdbcType="OTHER"/>
        <result column="DECORATION_LEADER" property="decorationLeader" jdbcType="OTHER"/>
        <result column="DECORATION_ LEADER_PHONE" property="decorationLeaderPhone" jdbcType="VARCHAR"/>
        <result column="DECORATION_DEPOSIT" property="decorationDeposit" jdbcType="DECIMAL"/>
        <result column="DECORATION_MANAGEMENT_COST" property="decorationManagementCost" jdbcType="DECIMAL"/>
        <result column="PASS_PAPERS_COST" property="passPapersCost" jdbcType="DECIMAL"/>
        <result column="PASS_PAPERS_DEPOSIT" property="passPapersDeposit" jdbcType="DECIMAL"/>
        <result column="AUDIT_STATUS" property="auditStatus" jdbcType="DECIMAL"/>
        <result column="FEEDBACK1" property="feedback1" jdbcType="OTHER"/>
        <result column="FEEDBACK2" property="feedback2" jdbcType="OTHER"/>
        <result column="IS_SPECIAL_DECORATION" property="isSpecialDecoration" jdbcType="DECIMAL"/>
        <result column="SPECIAL_DECORATION_FILE" property="specialDecorationFile" jdbcType="OTHER"/>
        <result column="CREATION_TIME" property="creationTime" jdbcType="DATE"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE"/>
        <association property="houseInfo" javaType="cn.rzhd.wuye.bean.HouseInfo">
            <id column="ERP_HOUSE_ID" property="erpHouseId"/>
            <result column="HOUSE_INFO_ID" property="houseInfoId"/>
            <result column="PROJECT_INFO_ID" property="projectInfoId"/>
            <result column="HOUSE_PROPERTY" property="houseProperty"/>
            <result column="ENTER_STATUS" property="enterStatus"/>
            <result column="STAR_LEVEL" property="starLevel"/>
            <result column="STATUS" property="status"/>
            <result column="CREATION_TIME" property="creationTime"/>
            <result column="UPDATE_TIME" property="updateTime"/>
            <result column="CUSTOMER_ID" property="customerId"/>
            <association property="projectInfo" javaType="cn.rzhd.wuye.bean.ProjectInfo">
                <id column="PK_PROJECT" property="pkProject"/>
                <result column="PROJECT_NAME" property="projectName"/>
                <result column="PROJECT_ADDRESS" property="projectAddress"/>
                <result column="DEVELOPMENT_COLLECTING_COMPANY" property="developmentCollectingCompany"/>
                <result column="DEVELOPMENT_COLLECTING_ACCOUNT" property="developmentCollectingAccount"/>
                <result column="PROPERTY_COLLECTING_COMPANY" property="propertyCollectingCompany"/>
                <result column="PROPERTY_COLLECTING_ACCOUNT" property="propertyCollectingAccount"/>
                <result column="WATER_PRICE" property="waterPrice"/>
                <result column="ELECTRICITY_PRICE" property="electricityPrice"/>
                <result column="SERVICE_PHONE" property="servicePhone"/>
                <result column="OBJECT_PHONE" property="objectPhone"/>
                <result column="CREATION_TIME" property="creationTime"/>
                <result column="UPDATE_TIME" property="updateTime"/>
                <result column="STATUS" property="status"/>
                <result column="PK_CORP" property="pkCorp"/>
                <result column="VCODE" property="vcode"/>
                <result column="VSHORTNAME" property="vshortname"/>
                <result column="PK_RESPONSECORP" property="pkResponsecorp"/>
                <result column="VINCODE" property="vincode"/>
                <result column="DECORATE_MANAGE" property="decorateManage"/>
                <result column="PASSCARD_PLEDGE" property="passcardPledge"/>
                <result column="PASSCARD_COST" property="passcardCost"/>
                <result column="DECORATE_AREA" property="decorateArea"/>
                <result column="LESS_PLEDGE" property="lessPledge"/>
                <result column="MORE_PLEDGE" property="morePledge"/>
            </association>
        </association>
    </resultMap>

    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.DecorationApply">
    update T_DECORATION_APPLY
    set HOUSE_INFO_ID = #{houseInfoId,jdbcType=DECIMAL},
      CLIENT_NAME = #{clientName,jdbcType=OTHER},
      APPLY_TIME = #{applyTime,jdbcType=DATE},
      ANTIPATE_TIME = #{antipateTime,jdbcType=DATE},
      LOCALE_CUSTODIAN = #{localeCustodian,jdbcType=OTHER},
      LOCALE_CUSTODIAN_PHONE = #{localeCustodianPhone,jdbcType=VARCHAR},
      DECORATION_PARTS = #{decorationParts,jdbcType=OTHER},
      DECORATE_AREA = #{decorateArea,jdbcType=FLOAT},
      CONSTRUCT_PEOPLE_NUMBER = #{constructPeopleNumber,jdbcType=DECIMAL},
      DECORATION_COMPANY = #{decorationCompany,jdbcType=OTHER},
      DECORATION_LEADER = #{decorationLeader,jdbcType=OTHER},
      "DECORATION_ LEADER_PHONE" = #{decorationLeaderPhone,jdbcType=VARCHAR},
      DECORATION_DEPOSIT = #{decorationDeposit,jdbcType=DECIMAL},
      DECORATION_MANAGEMENT_COST = #{decorationManagementCost,jdbcType=DECIMAL},
      PASS_PAPERS_COST = #{passPapersCost,jdbcType=DECIMAL},
      PASS_PAPERS_DEPOSIT = #{passPapersDeposit,jdbcType=DECIMAL},
      AUDIT_STATUS = #{auditStatus,jdbcType=DECIMAL},
      FEEDBACK1 = #{feedback1,jdbcType=OTHER},
      FEEDBACK2 = #{feedback2,jdbcType=OTHER},
      IS_SPECIAL_DECORATION = #{isSpecialDecoration,jdbcType=DECIMAL},
      SPECIAL_DECORATION_FILE = #{specialDecorationFile,jdbcType=OTHER},
      CREATION_TIME = #{creationTime,jdbcType=DATE},
      UPDATE_TIME = #{updateTime,jdbcType=DATE}
    where DECORATION_APPLY_ID = #{decorationApplyId,jdbcType=DECIMAL}
  </update>
    <!--添加装修申请-->
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.DecorationApply" >
         insert into T_DECORATION_APPLY (DECORATION_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME,
      APPLY_TIME, ANTIPATE_TIME, LOCALE_CUSTODIAN,
      LOCALE_CUSTODIAN_PHONE, DECORATION_PARTS, DECORATE_AREA,
      CONSTRUCT_PEOPLE_NUMBER, DECORATION_COMPANY,
      DECORATION_LEADER, "DECORATION_ LEADER_PHONE",
      DECORATION_DEPOSIT, DECORATION_MANAGEMENT_COST,
      PASS_PAPERS_COST, PASS_PAPERS_DEPOSIT, AUDIT_STATUS,
      FEEDBACK1, FEEDBACK2, IS_SPECIAL_DECORATION,
      SPECIAL_DECORATION_FILE, CREATION_TIME, UPDATE_TIME
      )
    values (#{decorationApplyId,jdbcType=DECIMAL}, #{houseInfoId,jdbcType=DECIMAL}, #{clientName,jdbcType=OTHER},
      #{applyTime,jdbcType=DATE}, #{antipateTime,jdbcType=DATE}, #{localeCustodian,jdbcType=OTHER},
      #{localeCustodianPhone,jdbcType=VARCHAR}, #{decorationParts,jdbcType=OTHER}, #{decorateArea,jdbcType=FLOAT},
      #{constructPeopleNumber,jdbcType=DECIMAL}, #{decorationCompany,jdbcType=OTHER},
      #{decorationLeader,jdbcType=OTHER}, #{decorationLeaderPhone,jdbcType=VARCHAR},
      #{decorationDeposit,jdbcType=DECIMAL}, #{decorationManagementCost,jdbcType=DECIMAL},
      #{passPapersCost,jdbcType=DECIMAL}, #{passPapersDeposit,jdbcType=DECIMAL}, #{auditStatus,jdbcType=DECIMAL},
      #{feedback1,jdbcType=OTHER}, #{feedback2,jdbcType=OTHER}, #{isSpecialDecoration,jdbcType=DECIMAL},
      #{specialDecorationFile,jdbcType=OTHER}, #{creationTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE}
      )
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from T_DECORATION_APPLY
    where DECORATION_APPLY_ID = #{decorationApplyId,jdbcType=DECIMAL}
  </delete>
    <select id="selectByPrimaryKey" resultMap="DecorationApplyMapper" parameterType="java.lang.Long" >
        select DECORATION_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME, APPLY_TIME, ANTIPATE_TIME,
        LOCALE_CUSTODIAN, LOCALE_CUSTODIAN_PHONE, DECORATION_PARTS, DECORATE_AREA, CONSTRUCT_PEOPLE_NUMBER,
        DECORATION_COMPANY, DECORATION_LEADER, "DECORATION_ LEADER_PHONE", DECORATION_DEPOSIT,
        DECORATION_MANAGEMENT_COST, PASS_PAPERS_COST, PASS_PAPERS_DEPOSIT, AUDIT_STATUS,
        FEEDBACK1, FEEDBACK2, IS_SPECIAL_DECORATION, SPECIAL_DECORATION_FILE, CREATION_TIME,
        UPDATE_TIME
        from T_DECORATION_APPLY
        where DECORATION_APPLY_ID = #{decorationApplyId,jdbcType=DECIMAL}
    </select>
    <select id="findDecorationApplyList" resultMap="DecorationApplyMapper" >
        select DECORATION_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME, APPLY_TIME, ANTIPATE_TIME,
        LOCALE_CUSTODIAN, LOCALE_CUSTODIAN_PHONE, DECORATION_PARTS, DECORATE_AREA, CONSTRUCT_PEOPLE_NUMBER,
        DECORATION_COMPANY, DECORATION_LEADER, "DECORATION_ LEADER_PHONE", DECORATION_DEPOSIT,
        DECORATION_MANAGEMENT_COST, PASS_PAPERS_COST, PASS_PAPERS_DEPOSIT, AUDIT_STATUS,
        FEEDBACK1, FEEDBACK2, IS_SPECIAL_DECORATION, SPECIAL_DECORATION_FILE, CREATION_TIME,
        UPDATE_TIME
        from T_DECORATION_APPLY
    </select>
    <select id="findDecorationApplyListByQuery" resultMap="DecorationApplyMapper" >
        select DECORATION_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME, APPLY_TIME, ANTIPATE_TIME,
        LOCALE_CUSTODIAN, LOCALE_CUSTODIAN_PHONE, DECORATION_PARTS, DECORATE_AREA, CONSTRUCT_PEOPLE_NUMBER,
        DECORATION_COMPANY, DECORATION_LEADER, "DECORATION_ LEADER_PHONE", DECORATION_DEPOSIT,
        DECORATION_MANAGEMENT_COST, PASS_PAPERS_COST, PASS_PAPERS_DEPOSIT, AUDIT_STATUS,
        FEEDBACK1, FEEDBACK2, IS_SPECIAL_DECORATION, SPECIAL_DECORATION_FILE, CREATION_TIME,
        UPDATE_TIME
        from T_DECORATION_APPLY
    </select>
</mapper>