<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.DecorateDetailMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.DecorateDetail">
        <id column="DECORATE_DETAIL_ID" property="decorateDetailId"/>
        <result column="DECORATION_APPLY_ID" property="decorationApplyId"/>
        <result column="DETAIL_ORDER" property="detailOrder"/>
        <result column="DETAIL_CONTENT" property="detailContent"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM T_DECORATE_DETAIL
        WHERE DECORATE_DETAIL_ID = #{decorateDetailId}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.DecorateDetail">
        INSERT INTO T_DECORATE_DETAIL (DECORATE_DETAIL_ID, DECORATION_APPLY_ID,
                                       DETAIL_ORDER, DETAIL_CONTENT)
        VALUES (#{decorateDetailId}, #{decorationApplyId},
                #{detailOrder}, #{detailContent})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.DecorateDetail">
        UPDATE T_DECORATE_DETAIL
        SET DECORATION_APPLY_ID = #{decorationApplyId},
            DETAIL_ORDER        = #{detailOrder},
            DETAIL_CONTENT      = #{detailContent}
        WHERE DECORATE_DETAIL_ID = #{decorateDetailId}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            DECORATE_DETAIL_ID,
            DECORATION_APPLY_ID,
            DETAIL_ORDER,
            DETAIL_CONTENT
        FROM T_DECORATE_DETAIL
        WHERE DECORATE_DETAIL_ID = #{decorateDetailId}
    </select>
    <select id="selectByApplyKey" resultMap="BaseResultMap">
        SELECT
            DECORATE_DETAIL_ID,
            DECORATION_APPLY_ID,
            DETAIL_ORDER,
            DETAIL_CONTENT
        FROM T_DECORATE_DETAIL
        WHERE DECORATION_APPLY_ID = #{decorationApplyId}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            DECORATE_DETAIL_ID,
            DECORATION_APPLY_ID,
            DETAIL_ORDER,
            DETAIL_CONTENT
        FROM T_DECORATE_DETAIL
    </select>
</mapper>