<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.EnterApplyMapper">
    <resultMap id="enterApplyMap" type="java.util.Map">
        <id column="ENTER_APPLY_ID" property="enterApplyId"/>
        <result column="HOUSE_INFO_ID" property="houseInfoId"/>
        <result column="CLIENT_NAME" property="clientName"/>
        <result column="APPLY_TIME" property="applyTime"/>
        <result column="AUDIT_STATUS" property="auditStatus"/>
        <result column="ENTER_ADVICE_NOTE" property="enterAdviceNote"/>
        <result column="NOTES" property="notes"/>
        <result column="CREATION_TIME" property="creationTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <association property="houseInfo" javaType="cn.rzhd.wuye.bean.HouseInfo">
            <id column="ERP_HOUSE_ID" property="erpHouseId"/>
            <result column="HOUSE_INFO_ID" property="houseInfoId"/>
            <result column="PROJECT_INFO_ID" property="projectInfoId"/>
            <result column="HOUSE_PROPERTY" property="houseProperty"/>
            <result column="ENTER_STATUS" property="enterStatus"/>
            <result column="STAR_LEVEL" property="starLevel"/>
            <result column="STATUS" property="status"/>
            <result column="CREATION_TIME" property="creationTime"/>
            <result column="UPDATE_TIME" property="updateTime"/>
            <result column="CUSTOMER_ID" property="customerId"/>
            <association property="projectInfo" javaType="cn.rzhd.wuye.bean.ProjectInfo" column="PROJECT_INFO_ID">
                <id column="PK_PROJECT" property="pkProject"/>
                <result column="PROJECT_NAME" property="projectName"/>
                <result column="PROJECT_ADDRESS" property="projectAddress"/>
                <result column="DEVELOPMENT_COLLECTING_COMPANY" property="developmentCollectingCompany"/>
                <result column="DEVELOPMENT_COLLECTING_ACCOUNT" property="developmentCollectingAccount"/>
                <result column="PROPERTY_COLLECTING_COMPANY" property="propertyCollectingCompany"/>
                <result column="PROPERTY_COLLECTING_ACCOUNT" property="propertyCollectingAccount"/>
                <result column="WATER_PRICE" property="waterPrice"/>
                <result column="ELECTRICITY_PRICE" property="electricityPrice"/>
                <result column="SERVICE_PHONE" property="servicePhone"/>
                <result column="OBJECT_PHONE" property="objectPhone"/>
                <result column="CREATION_TIME" property="creationTime"/>
                <result column="UPDATE_TIME" property="updateTime"/>
                <result column="STATUS" property="status"/>
                <result column="PK_CORP" property="pkCorp"/>
                <result column="VCODE" property="vcode"/>
                <result column="VSHORTNAME" property="vshortname"/>
                <result column="PK_RESPONSECORP" property="pkResponsecorp"/>
                <result column="VINCODE" property="vincode"/>
                <result column="DECORATE_MANAGE" property="decorateManage"/>
                <result column="PASSCARD_PLEDGE" property="passcardPledge"/>
                <result column="PASSCARD_COST" property="passcardCost"/>
                <result column="DECORATE_AREA" property="decorateArea"/>
                <result column="LESS_PLEDGE" property="lessPledge"/>
                <result column="MORE_PLEDGE" property="morePledge"/>
            </association>
        </association>
    </resultMap>
    <!-- 单表查询info数据根据ID -->
    <select id="getEnterApplyByID" resultMap="enterApplyMap">
        SELECT * FROM
        T_ENTER_APPLY apply,
        T_HOUSE_INFO house,
        T_PROJECT_INFO project
        WHERE
        apply.HOUSE_INFO_ID=house.HOUSE_INFO_ID
        AND
        house.PROJECT_INFO_ID=project.PK_PROJECT
        AND
            apply.ENTER_APPLY_ID=#{enterApplyId}
    </select>
    <!-- 入驻申请列表分页查询 -->
    <select id="findEnterApplyList" resultMap="enterApplyMap">
      SELECT apply.ENTER_APPLY_ID,project.PROJECT_NAME,house.HOUSE_PROPERTY,apply.CLIENT_NAME,apply.APPLY_TIME,apply.AUDIT_STATUS FROM
              T_ENTER_APPLY  apply,
              T_HOUSE_INFO house,
              T_PROJECT_INFO project
          WHERE
            apply.HOUSE_INFO_ID=house.HOUSE_INFO_ID
          AND
          house.PROJECT_INFO_ID=project.PK_PROJECT
    </select>
    <!-- 入驻申请列表条件查询 -->
    <select id="findEnterApplyByQuery" parameterType="cn.rzhd.wuye.vo.query.EnterApplyQuery" resultMap="enterApplyMap">
        SELECT
        apply.ENTER_APPLY_ID,project.PROJECT_NAME,house.HOUSE_PROPERTY,apply.CLIENT_NAME,apply.APPLY_TIME,apply.AUDIT_STATUS
        FROM
        T_ENTER_APPLY apply,
        T_HOUSE_INFO house,
        T_PROJECT_INFO project
        WHERE
        apply.HOUSE_INFO_ID=house.HOUSE_INFO_ID
        AND
        house.PROJECT_INFO_ID=project.PK_PROJECT
        <if test="startDate != null">
            <if test="endDate != null">
                AND BETWEEN apply.APPLY_TIME=to_date(#{startDate},'yyyy-mm-dd')
                AND apply.APPLY_TIME=to_date(#{endDate},'yyyy-mm-dd')
            </if>
        </if>
        <if test="clientName != null">
            AND CLIENT_NAME=#{clientName}
        </if>
        <if test="projectName != null">
            AND PROJECT_NAME=#{projectName}
        </if>

    </select>

    <!-- 用户信息修改 操作-->
    <update id="updateEnterApply" parameterType="cn.rzhd.wuye.bean.EnterApply">
       update T_ENTER_APPLY
        set
        <if test="clientName != null">
            CLIENT_NAME = #{clientName},
        </if>

        <if test="houseInfoId != null">
            HOUSE_INFO_ID = #{houseInfoId},
        </if>
        <if test="auditStatus != null">
            AUDIT_STATUS = #{auditStatus},
        </if>
        <if test="enterAdviceNote != null">
            ENTER_ADVICE_NOTE = #{enterAdviceNote},
        </if>
        <if test="notes != null">
            NOTES = #{notes},
        </if>
        <if test="creationTime != null">
            CREATION_TIME = #{creationTime},
        </if>
        <if test="updateTime != null">
            UPDATE_TIME = #{updateTime}
        </if>
    where ENTER_APPLY_ID = #{enterApplyId}
    </update>
    <!--添加入驻申请-->
    <insert id="insertEnterApply"  parameterType="cn.rzhd.wuye.bean.EnterApply">
       insert into T_ENTER_APPLY (ENTER_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME,
      APPLY_TIME, AUDIT_STATUS, ENTER_ADVICE_NOTE,
      NOTES, CREATION_TIME, UPDATE_TIME
      )
    values (T_ENTER_APPLY_ID_SEQ.Nextval, #{houseInfoId}, #{clientName},
      #{applyTime}, #{auditStatus}, #{enterAdviceNote},
      #{notes}, #{creationTime}, #{updateTime}
      )
    </insert>
    <!-- 入驻信息删除操作 -->
    <delete id="deleteEnterApply">
      delete from T_ENTER_APPLY
    where ENTER_APPLY_ID = #{enterApplyId}
    </delete>
</mapper>