<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.EnterApplyMapper">
    <resultMap id="enterApply" type="cn.rzhd.wuye.bean.EnterApply">
        <id column="ENTER_APPLY_ID" property="enterApplyId"/>
        <result column="HOUSE_INFO_ID" property="houseId"/>
        <result column="CLIENT_NAME" property="clientName"/>
        <result column="APPLY_TIME" property="applyTime"/>
        <result column="AUDIT_STATUS" property="auditStatus"/>
        <result column="ENTER_ADVICE_NOTE" property="enterAdviceNote"/>
        <result column="NOTES" property="notes"/>
        <result column="CREATION_TIME" property="creationTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="WYSTATE" property="wyState"/>
        <result column="KFSTATE" property="kfState"/>
        <result column="CUSTOMERID" property="customerId"/>
    </resultMap>
    <resultMap id="enterApplyMap" type="java.util.Map">
        <id column="ENTER_APPLY_ID" property="enterApplyId"/>
        <result column="HOUSE_INFO_ID" property="houseId"/>
        <result column="CLIENT_NAME" property="clientName"/>
        <result column="APPLY_TIME" property="applyTime"/>
        <result column="AUDIT_STATUS" property="auditStatus"/>
        <result column="ENTER_ADVICE_NOTE" property="enterAdviceNote"/>
        <result column="NOTES" property="notes"/>
        <result column="CREATION_TIME" property="creationTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="WYSTATE" property="wyState"/>
        <result column="KFSTATE" property="kfState"/>
        <result column="CUSTOMERID" property="customerId"/>
        <association property="houseInfoDetails" javaType="cn.rzhd.wuye.bean.HouseInfoDetails">
            <id column="pk_house" property="pkHouse" jdbcType="CHAR"/>
            <result column="pk_corp" property="pkCorp" jdbcType="CHAR"/>
            <result column="pk_project" property="pkProject" jdbcType="VARCHAR"/>
            <result column="project" property="project" jdbcType="VARCHAR"/>
            <result column="building" property="building" jdbcType="VARCHAR"/>
            <result column="ifloor" property="ifloor" jdbcType="VARCHAR"/>
            <result column="vhcell" property="vhcell" jdbcType="VARCHAR"/>
            <result column="vhnum" property="vhnum" jdbcType="VARCHAR"/>
            <result column="vhcode" property="vhcode" jdbcType="VARCHAR"/>
            <result column="vhname" property="vhname" jdbcType="VARCHAR"/>
            <result column="otation" property="otation" jdbcType="VARCHAR"/>
            <result column="room" property="room" jdbcType="VARCHAR"/>
            <result column="situation" property="situation" jdbcType="VARCHAR"/>
            <result column="fsellmethod" property="fsellmethod" jdbcType="VARCHAR"/>
            <result column="managestate" property="managestate" jdbcType="VARCHAR"/>
            <result column="nbuildarea" property="nbuildarea" jdbcType="VARCHAR"/>
            <result column="ninarea" property="ninarea" jdbcType="VARCHAR"/>
            <result column="nleaseoutarea" property="nleaseoutarea" jdbcType="VARCHAR"/>
            <result column="nmanagearea" property="nmanagearea" jdbcType="VARCHAR"/>
            <result column="nsellarea" property="nsellarea" jdbcType="VARCHAR"/>
            <result column="npublicarea" property="npublicarea" jdbcType="VARCHAR"/>
            <result column="nunderlinearea" property="nunderlinearea" jdbcType="VARCHAR"/>
            <result column="ngardenarea" property="ngardenarea" jdbcType="VARCHAR"/>
            <result column="nrpublicarea" property="nrpublicarea" jdbcType="VARCHAR"/>
            <result column="nrinarea" property="nrinarea" jdbcType="VARCHAR"/>
            <result column="nrbuildarea" property="nrbuildarea" jdbcType="VARCHAR"/>
            <result column="nrunderlinearea" property="nrunderlinearea" jdbcType="VARCHAR"/>
            <result column="nrgardenarea" property="nrgardenarea" jdbcType="VARCHAR"/>
            <result column="STARTDATE" property="startdate" jdbcType="DATE"/>
            <result column="ENDDATE" property="enddate" jdbcType="DATE"/>
            <result column="FIRSTMNY" property="firstmny" jdbcType="DECIMAL"/>
            <result column="EVERYMNY" property="everymny" jdbcType="DECIMAL"/>
            <result column="ASTRICTSTATUS" property="astrictstatus" jdbcType="CHAR"/>
            <result column="UPDATEDATE" property="updatedate" jdbcType="DATE"/>
            <result column="ENTERAPPLY_STATE" property="enterapplyState" jdbcType="VARCHAR"/>
            <result column="DECORATIONAPPLYSTATE" property="decorationapplystate" jdbcType="VARCHAR"/>
            <association property="projectInfo" javaType="cn.rzhd.wuye.bean.ProjectInfo" column="PROJECT_INFO_ID">
                <id column="PK_PROJECT" property="pkProject"/>
                <result column="PROJECT_NAME" property="projectName"/>
                <result column="PROJECT_ADDRESS" property="projectAddress"/>
                <result column="DEVELOPMENT_COLLECTING_COMPANY" property="developmentCollectingCompany"/>
                <result column="DEVELOPMENT_COLLECTING_ACCOUNT" property="developmentCollectingAccount"/>
                <result column="PROPERTY_COLLECTING_COMPANY" property="propertyCollectingCompany"/>
                <result column="PROPERTY_COLLECTING_ACCOUNT" property="propertyCollectingAccount"/>
                <result column="WATER_PRICE" property="waterPrice"/>
                <result column="ELECTRICITY_PRICE" property="electricityPrice"/>
                <result column="SERVICE_PHONE" property="servicePhone"/>
                <result column="OBJECT_PHONE" property="objectPhone"/>
                <result column="CREATION_TIME" property="creationTime"/>
                <result column="UPDATE_TIME" property="updateTime"/>
                <result column="STATUS" property="status"/>
                <result column="PK_CORP" property="pkCorp"/>
                <result column="VCODE" property="vcode"/>
                <result column="VSHORTNAME" property="vshortname"/>
                <result column="PK_RESPONSECORP" property="pkResponsecorp"/>
                <result column="VINCODE" property="vincode"/>
                <result column="DECORATE_MANAGE" property="decorateManage"/>
                <result column="PASSCARD_PLEDGE" property="passcardPledge"/>
                <result column="PASSCARD_COST" property="passcardCost"/>
                <result column="DECORATE_AREA" property="decorateArea"/>
                <result column="LESS_PLEDGE" property="lessPledge"/>
                <result column="MORE_PLEDGE" property="morePledge"/>
            </association>
        </association>
        <association property="customer" javaType="cn.rzhd.wuye.bean.Customer">
            <id property="pk_customerid" column="pk_customerid"/>
            <result property="pk_corp" column="pk_corp"/>
            <result property="fccategory" column="fccategory"/>
            <result property="vccode" column="vccode"/>
            <result property="vcname" column="vcname"/>
            <result property="vpcnamespell" column="vpcnamespell"/>
            <result property="vpreferredtel" column="vpreferredtel"/>
            <result property="vccardnum" column="vccardnum"/>
            <result property="vcaddress" column="vcaddress"/>
            <result property="ccpostalcode" column="ccpostalcode"/>
            <result property="dregdate" column="dregdate"/>
            <result property="vregplace" column="vregplace"/>
            <result property="vmemcardno" column="vmemcardno"/>
            <result property="vpcemail" column="vpcemail"/>
            <result property="nproperty" column="nproperty"/>
            <result property="LOGO" column="LOGO"/>
            <result property="companyType" column="Company_Type"/>
            <!-- <result property="password" column="Password"/>-->
            <result property="bindingPhone" column="Binding_Phone"/>
            <result property="currentFlow" column="CURRENT_FLOW"/>
            <result property="alreadyFinish" column="ALREADY_FINISH"/>
            <result property="currentHouseId" column="CURRENT_HOUSE_ID"/>
            <result property="updateData" column="update_data"/>
        </association>
    </resultMap>
    <!-- 单表查询info数据根据ID -->
    <select id="getEnterApplyByID" resultMap="enterApplyMap">
        SELECT DISTINCT *
        FROM
            T_ENTER_APPLY apply LEFT JOIN
            T_HOUSE_INFO_DETAILS house ON apply.HOUSE_INFO_ID = house."pk_house"
            LEFT JOIN T_PROJECT_INFO project ON house."pk_project" = project.PK_PROJECT
            LEFT JOIN "T_Customer" customer ON apply.CUSTOMERID = customer."pk_customerid"
        WHERE
            apply.ENTER_APPLY_ID = #{enterApplyId}
        ORDER BY apply.CREATION_TIME DESC
    </select>
    <select id="getEnterApplyByIDAndState" resultMap="enterApplyMap">
        SELECT DISTINCT *
        FROM
            T_ENTER_APPLY apply LEFT JOIN
            T_HOUSE_INFO_DETAILS house ON apply.HOUSE_INFO_ID = house."pk_house"
            LEFT JOIN T_PROJECT_INFO project ON house."pk_project" = project.PK_PROJECT
            LEFT JOIN "T_Customer" customer ON apply.CUSTOMERID = customer."pk_customerid"
        WHERE
            HOUSE_INFO_ID = '${pkHouse}'
        ORDER BY apply.CREATION_TIME DESC
    </select>
    <!-- 入驻申请列表分页查询 -->
    <select id="findEnterApplyList" resultMap="enterApplyMap">
        SELECT DISTINCT *
        FROM
            T_ENTER_APPLY apply
            LEFT JOIN T_HOUSE_INFO_DETAILS house ON apply.HOUSE_INFO_ID = house."pk_house"
            LEFT JOIN T_PROJECT_INFO project ON house."pk_project" = project.PK_PROJECT
            LEFT JOIN "T_Customer" customer ON apply.CUSTOMERID = customer."pk_customerid"
        ORDER BY apply.CREATION_TIME DESC
    </select>
    <!-- 入驻申请列表条件查询 -->
    <select id="findEnterApplyByQuery" parameterType="cn.rzhd.wuye.vo.query.ApplyQuery" resultMap="enterApplyMap">
        SELECT DISTINCT
        *
        FROM
        T_ENTER_APPLY apply LEFT JOIN
        T_HOUSE_INFO_DETAILS house ON apply.HOUSE_INFO_ID = house."pk_house"
        LEFT JOIN T_PROJECT_INFO project ON house."pk_project" = project.PK_PROJECT
        LEFT JOIN "T_Customer" customer ON apply.CUSTOMERID = customer."pk_customerid"
        <where>
            <if test="startDate != null">
                <if test="endDate != null">
                    apply.APPLY_TIME BETWEEN #{startDate}
                    AND #{endDate}
                </if>
            </if>
            <if test="clientName != null">
                AND CLIENT_NAME=#{clientName} OR PROJECT_NAME=#{clientName}
            </if>
        </where>
        ORDER BY apply.CREATION_TIME DESC
    </select>

    <!-- 用户信息修改 操作-->
    <update id="updateEnterApply" parameterType="cn.rzhd.wuye.bean.EnterApply">
        update T_ENTER_APPLY
        set
        <if test="clientName != null">
            CLIENT_NAME = #{clientName},
        </if>

        <if test="houseId != null">
            HOUSE_INFO_ID = #{houseId},
        </if>
        <if test="auditStatus != null">
            AUDIT_STATUS = #{auditStatus},
        </if>
        <if test="enterAdviceNote != null">
            ENTER_ADVICE_NOTE = #{enterAdviceNote},
        </if>
        <if test="notes != null">
            NOTES = #{notes},
        </if>
        <if test="creationTime != null">
            CREATION_TIME = #{creationTime},
        </if>
        <if test="updateTime != null">
            UPDATE_TIME = #{updateTime}
        </if>
        where ENTER_APPLY_ID = #{enterApplyId}
    </update>
    <!--添加入驻申请-->
    <insert id="insertEnterApply" parameterType="cn.rzhd.wuye.bean.EnterApply">
        INSERT INTO T_ENTER_APPLY (ENTER_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME,
                                   APPLY_TIME, AUDIT_STATUS, ENTER_ADVICE_NOTE,
                                   NOTES, CREATION_TIME, UPDATE_TIME, CUSTOMERID
        )
        VALUES (#{enterApplyId}, #{houseId}, #{clientName},
                #{applyTime}, #{auditStatus}, #{enterAdviceNote},
                #{notes}, #{creationTime}, #{updateTime}, #{customerId}
        )
    </insert>
    <!-- 入驻信息删除操作 -->
    <delete id="deleteEnterApply">
        DELETE FROM T_ENTER_APPLY
        WHERE ENTER_APPLY_ID = #{enterApplyId}
    </delete>
    <update id="updatePayState">
        UPDATE T_ENTER_APPLY apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="wyState !=null">
                WYSTATE=#{wyState},
            </if>

            <if test="kfState !=null">
                KFSTATE=#{kfState}
            </if>
        </trim>
        WHERE ENTER_APPLY_ID = #{enterApplyId}
    </update>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT count(ENTER_APPLY_ID)
        FROM T_ENTER_APPLY apply
        WHERE apply.HOUSE_INFO_ID = #{pkHouse} AND apply.CUSTOMERID = #{customerId}
        ORDER BY apply.CREATION_TIME DESC
    </select>

    <select id="getEnterApply" resultMap="enterApply">
        SELECT DISTINCT *
        FROM T_ENTER_APPLY apply
        WHERE apply.HOUSE_INFO_ID = '${pkHouse}' AND apply.CUSTOMERID = '${customerId}'
        ORDER BY apply.CREATION_TIME DESC
    </select>
</mapper>