<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.EnterMaterialMapper">
    <resultMap id="enterMterial" type="cn.rzhd.wuye.bean.EnterMaterial">
        <id column="ENTER_MATERIAL_ID" property="enterMaterialId"/>
        <result column="PK_PROJECT" property="pkProject"/>
        <result column="MATERIAL_NAME" property="materialName"  />
        <result column="MATERIAL_ADDRESS" property="materialAddress" />
        <result column="BASIC_INFO" property="basicInfo"/>
        <result column="NOTES" property="notes" />
        <result column="USER_ID" property="userId" />
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>
    <resultMap id="enterMaterialMap" type="java.util.Map">
        <id column="ENTER_MATERIAL_ID" property="enterMaterialId"/>
        <result column="PK_PROJECT" property="pkProject"/>
        <result column="MATERIAL_NAME" property="materialName"  />
        <result column="MATERIAL_ADDRESS" property="materialAddress" />
        <result column="BASIC_INFO" property="basicInfo"/>
        <result column="NOTES" property="notes" />
        <result column="USER_ID" property="userId" />
        <result column="UPDATE_TIME" property="updateTime"/>
        <association property="user" javaType="cn.rzhd.wuye.bean.User">
            <id column="USER_ID" property="userId"/>
            <result column="USERNAME" property="username"/>
            <result column="REALNAME" property="realname"/>
            <result column="WORK_NO" property="workNo" jdbcType="OTHER"/>
            <result column="PROJECT_BELONG" property="projectBelong"/>
            <result column="GENDER" property="gender"/>
            <result column="STATUS" property="status"/>
            <result column="NOTE" property="note"/>
            <result column="ROLE" property="role"/>
        </association>
        <association property="houseInfo" javaType="cn.rzhd.wuye.bean.HouseInfo">
            <id column="HOUSE_INFO_ID" property="houseInfoId"/>
            <result column="ERP_HOUSE_ID" property="erpHouseId"/>
            <result column="PROJECT_INFO_ID" property="projectInfoId"/>
            <result column="HOUSE_PROPERTY" property="houseProperty"/>
            <result column="ENTER_STATUS" property="enterStatus"/>
            <result column="STAR_LEVEL" property="starLevel"/>
            <result column="STATUS" property="status"/>
            <result column="CREATION_TIME" property="creationTime"/>
            <result column="UPDATE_TIME" property="updateTime"/>
            <association property="projectInfo" javaType="cn.rzhd.wuye.bean.ProjectInfo">
                <id column="PK_PROJECT" property="pkProject"/>
                <result column="PROJECT_NAME" property="projectName"/>
                <result column="PROJECT_ADDRESS" property="projectAddress"/>
                <result column="DEVELOPMENT_COLLECTING_COMPANY" property="developmentCollectingCompany"/>
                <result column="DEVELOPMENT_COLLECTING_ACCOUNT" property="developmentCollectingAccount"/>
                <result column="PROPERTY_COLLECTING_COMPANY" property="propertyCollectingCompany"/>
                <result column="PROPERTY_COLLECTING_ACCOUNT" property="propertyCollectingAccount"/>
                <result column="WATER_PRICE" property="waterPrice"/>
                <result column="ELECTRICITY_PRICE" property="electricityPrice"/>
                <result column="SERVICE_PHONE" property="servicePhone"/>
                <result column="OBJECT_PHONE" property="objectPhone"/>
                <result column="CREATION_TIME" property="creationTime"/>
                <result column="UPDATE_TIME" property="updateTime"/>
                <result column="STATUS" property="status"/>
                <result column="PK_CORP" property="pkCorp"/>
                <result column="VCODE" property="vcode"/>
                <result column="VSHORTNAME" property="vshortname"/>
                <result column="PK_RESPONSECORP" property="pkResponsecorp"/>
                <result column="VINCODE" property="vincode"/>
                <result column="DECORATE_MANAGE" property="decorateManage"/>
                <result column="PASSCARD_PLEDGE" property="passcardPledge"/>
                <result column="PASSCARD_COST" property="passcardCost"/>
                <result column="DECORATE_AREA" property="decorateArea"/>
                <result column="LESS_PLEDGE" property="lessPledge"/>
                <result column="MORE_PLEDGE" property="morePledge"/>
            </association>
        </association>
    </resultMap>


    <!-- 入驻资料列表分页查询 -->
    <select id="findEnterMaterial" resultMap="enterMaterialMap">
         SELECT
            tuser.USERNAME,
            mater.MATERIAL_NAME,
            mater.UPDATE_TIME,
            pro.PROJECT_NAME
        FROM
            T_ENTER_MATERIAL mater,
            T_USER tuser,
            T_HOUSE_INFO house,
            T_PROJECT_INFO pro
        WHERE
            mater.USER_ID = tuser.USER_ID
        AND mater.HOUSE_INFO_ID = house.HOUSE_INFO_ID
        AND house.PROJECT_INFO_ID = pro.PK_PROJECT
    </select>

    <!--入驻申请列表条件查询-->
    <select id="findEnterMaterialBypkproject" resultMap="enterMterial">
         select ENTER_MATERIAL_ID, PK_PROJECT, MATERIAL_NAME, MATERIAL_ADDRESS, BASIC_INFO,
    NOTES, USER_ID, UPDATE_TIME
    from T_ENTER_MATERIAL
              where PK_PROJECT ='${pkproject}'
      </select>
</mapper>