<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.FeeTypesMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.vo.FeeitemVO">
        <id column="pk_fee" property="pk_fee" jdbcType="CHAR"/>
        <result column="pk_corp" property="pk_corp" jdbcType="CHAR"/>
        <result column="feecode" property="feecode" jdbcType="VARCHAR"/>
        <result column="feename" property="feename" jdbcType="VARCHAR"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM T_FEE_TYPES
        WHERE "pk_fee" = #{pkFee,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.vo.FeeitemVO">
        INSERT INTO T_FEE_TYPES ("pk_fee", "pk_corp", "feecode",
                                 "feename")
        VALUES (#{pk_fee,jdbcType=CHAR}, #{pk_corp,jdbcType=CHAR}, #{feecode,jdbcType=VARCHAR},
                #{feename,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.vo.FeeitemVO">
        UPDATE T_FEE_TYPES
        SET "pk_corp" = #{pk_corp,jdbcType=CHAR},
            "feecode" = #{feecode,jdbcType=VARCHAR},
            "feename" = #{feename,jdbcType=VARCHAR}
        WHERE "pk_fee" = #{pk_fee,jdbcType=CHAR}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
            "pk_fee",
            "pk_corp",
            "feecode",
            "feename"
        FROM T_FEE_TYPES
        WHERE "pk_fee" = #{pk_fee,jdbcType=CHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            "pk_fee",
            "pk_corp",
            "feecode",
            "feename"
        FROM T_FEE_TYPES
    </select>
</mapper>