<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.HomePageMapper">

    <!-- 根据登录customer查询项目名称-->
    <select id="findHomePageHouseByCustomer" resultType="java.util.Map">
        SELECT
            HID."pk_house",
            PI.PK_PROJECT,
            PI.PROJECT_NAME,
            HID."building",
            HID."ifloor",
            HID."vhcell",
            HID."vhnum",
            HID."vhname",
            HI.STAR_LEVEL
        FROM
            T_HOUSE_INFO HI
            LEFT JOIN T_HOUSE_INFO_DETAILS HID ON HI.ERP_HOUSE_ID = HID."pk_house"
            LEFT JOIN T_PROJECT_INFO PI ON HI.PROJECT_INFO_ID = PI.PK_PROJECT
        WHERE
            HI.CUSTOMER_ID = '${customer.pk_customerid}'
    </select>

    <!-- 根据房产id查询相关费用清单 -->
    <!--  <select id="findFeeListByHouseId" resultMap=""></select> -->

    <!-- 开发费用查询 -->
    <select id="findKfFeeListByCustomerId" parameterType="cn.rzhd.wuye.bean.Customer" resultType="java.util.Map">
        SELECT
            KF.*,
            HID."building",
            HID."ifloor",
            HID."vhcell",
            HID."vhnum"
        FROM
            "T_KF_Fee" KF
            LEFT JOIN T_HOUSE_INFO_DETAILS HID ON KF."pk_house" = HID."pk_house"
        WHERE
        KF."pk_house"=#{houseInfoId} AND KF."pk_customerid"=#{customerId} AND KF."dshpay" &lt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
    </select>

    <!-- 物业费用查询 -->
    <select id="findPropertyFeeListByCustomerId" resultType="java.util.Map">
        SELECT
            PF.*,
            HID."building",
            HID."ifloor",
            HID."vhcell",
            HID."vhnum"
        FROM
            T_PROPERTY_FEE PF
            LEFT JOIN T_HOUSE_INFO_DETAILS HID ON PF."pk_house" = HID."pk_house"
        WHERE
            PF."pk_house"=#{houseInfoId} AND PF."pk_customerid"=#{customerId} AND PF."dshpay" &lt;= TO_CHAR(SYSDATE,'YYYY-MM-DD')
    </select>

    <!-- 查询消息通知未读条数 -->
    <select id="findMessageNumByCustomer" parameterType="string" resultType="java.lang.Integer">
        SELECT COUNT(MM.MESSAGE_MANAGE_ID)
        FROM T_MESSAGE_MANAGE MM LEFT JOIN T_CUSTOMER_MESSAGE CM ON MM.MESSAGE_MANAGE_ID = CM.CUTROMER_MESSAGE_ID
        WHERE CM.CUSTOMER_ID = #{customerId} AND CM.READ_STATUS = 0
    </select>

    <resultMap id="messageList" type="cn.rzhd.wuye.bean.MessageManage">
        <result property="messageManageId" column="MESSAGE_MANAGE_ID"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="note" column="NOTE"/>
        <result property="createTime" column="CREATE_TIME"/>
    </resultMap>

    <!-- 查询消息通知详情 -->
    <select id="findMessageByCustomer" parameterType="string" resultMap="messageList">
        SELECT
            MM.MESSAGE_MANAGE_ID,
            MM.TITLE,
            MM."CONTENT",
            MM.NOTE,
            MM.CREATE_TIME
        FROM
            T_MESSAGE_MANAGE MM
            LEFT JOIN T_CUSTOMER_MESSAGE CM ON MM.MESSAGE_MANAGE_ID = CM.MESSAGE_ID
        WHERE
            CM.CUSTOMER_ID = #{customerId}
            AND CM.READ_STATUS = 0
    </select>


</mapper>