<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.HouseInfoDetailsMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.vo.HouseVO">
        <id column="pk_house" property="pk_house" jdbcType="CHAR"/>
        <result column="pk_corp" property="pk_corp" jdbcType="CHAR"/>
        <result column="project" property="project" jdbcType="VARCHAR"/>
        <result column="building" property="building" jdbcType="VARCHAR"/>
        <result column="ifloor" property="ifloor" jdbcType="VARCHAR"/>
        <result column="vhcell" property="vhcell" jdbcType="VARCHAR"/>
        <result column="vhnum" property="vhnum" jdbcType="VARCHAR"/>
        <result column="vhcode" property="vhcode" jdbcType="VARCHAR"/>
        <result column="vhname" property="vhname" jdbcType="VARCHAR"/>
        <result column="otation" property="otation" jdbcType="VARCHAR"/>
        <result column="room" property="room" jdbcType="VARCHAR"/>
        <result column="situation" property="situation" jdbcType="VARCHAR"/>
        <result column="fsellmethod" property="fsellmethod" jdbcType="VARCHAR"/>
        <result column="managestate" property="managestate" jdbcType="VARCHAR"/>
        <result column="nbuildarea" property="nbuildarea" jdbcType="VARCHAR"/>
        <result column="ninarea" property="ninarea" jdbcType="VARCHAR"/>
        <result column="nleaseoutarea" property="nleaseoutarea" jdbcType="VARCHAR"/>
        <result column="nmanagearea" property="nmanagearea" jdbcType="VARCHAR"/>
        <result column="nsellarea" property="nsellarea" jdbcType="VARCHAR"/>
        <result column="npublicarea" property="npublicarea" jdbcType="VARCHAR"/>
        <result column="nunderlinearea" property="nunderlinearea" jdbcType="VARCHAR"/>
        <result column="ngardenarea" property="ngardenarea" jdbcType="VARCHAR"/>
        <result column="nrpublicarea" property="nrpublicarea" jdbcType="VARCHAR"/>
        <result column="nrinarea" property="nrinarea" jdbcType="VARCHAR"/>
        <result column="nrbuildarea" property="nrbuildarea" jdbcType="VARCHAR"/>
        <result column="nrunderlinearea" property="nrunderlinearea" jdbcType="VARCHAR"/>
        <result column="nrgardenarea" property="nrgardenarea" jdbcType="VARCHAR"/>
        <result column="STARTDATE" property="startDate"/>
        <result column="ENDDATE" property="endDate"/>
        <result column="FIRSTMNY" property="firstMoney"/>
        <result column="EVERYMNY" property="everyMoney"/>
        <result column="ASTRICTSTATUS" property="astrictStatus"/>
        <result column="UPDATEDATE" property="updateDate"/>
        <result column="ENTERAPPLY_STATE" property="vdef8"/>
        <result column="DECORATIONAPPLYSTATE" property="vdef9"/>
        <association property="projectInfo" column="pk_project" javaType="cn.rzhd.wuye.bean.ProjectInfo"
                     select="cn.rzhd.wuye.mapper.ProjectInfoMapper.selectByPrimaryKey"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        DELETE FROM T_HOUSE_INFO_DETAILS
        WHERE "pk_house" = #{pkHouse,jdbcType=CHAR}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.vo.HouseVO">
        INSERT INTO T_HOUSE_INFO_DETAILS ("pk_house", "pk_corp", "pk_project",
                                          "project", "building", "ifloor",
                                          "vhcell", "vhnum", "vhcode",
                                          "vhname", "otation", "room",
                                          "situation", "fsellmethod", "managestate",
                                          "nbuildarea", "ninarea", "nleaseoutarea",
                                          "nmanagearea", "nsellarea", "npublicarea",
                                          "nunderlinearea", "ngardenarea", "nrpublicarea",
                                          "nrinarea", "nrbuildarea", "nrunderlinearea",
                                          "nrgardenarea")
        VALUES (#{pk_house,jdbcType=CHAR}, #{pk_corp,jdbcType=CHAR}, #{pk_project,jdbcType=VARCHAR},
                                           #{project,jdbcType=VARCHAR}, #{building,jdbcType=VARCHAR},
                                           #{ifloor,jdbcType=VARCHAR},
                                           #{vhcell,jdbcType=VARCHAR}, #{vhnum,jdbcType=VARCHAR},
                                           #{vhcode,jdbcType=VARCHAR},
                                           #{vhname,jdbcType=VARCHAR}, #{otation,jdbcType=VARCHAR},
            #{room,jdbcType=VARCHAR},
            #{situation,jdbcType=VARCHAR}, #{fsellmethod,jdbcType=VARCHAR}, #{managestate,jdbcType=VARCHAR},
            #{nbuildarea,jdbcType=VARCHAR}, #{ninarea,jdbcType=VARCHAR}, #{nleaseoutarea,jdbcType=VARCHAR},
            #{nmanagearea,jdbcType=VARCHAR}, #{nsellarea,jdbcType=VARCHAR}, #{npublicarea,jdbcType=VARCHAR},
                #{nunderlinearea,jdbcType=VARCHAR}, #{ngardenarea,jdbcType=VARCHAR}, #{nrpublicarea,jdbcType=VARCHAR},
                #{nrinarea,jdbcType=VARCHAR}, #{nrbuildarea,jdbcType=VARCHAR}, #{nrunderlinearea,jdbcType=VARCHAR},
                #{nrgardenarea,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.vo.HouseVO">
        UPDATE T_HOUSE_INFO_DETAILS
        SET "pk_corp"         = #{pk_corp,jdbcType=CHAR},
            "pk_project"      = #{pk_project,jdbcType=VARCHAR},
            "project"         = #{project,jdbcType=VARCHAR},
            "building"        = #{building,jdbcType=VARCHAR},
            "ifloor"          = #{ifloor,jdbcType=VARCHAR},
            "vhcell"          = #{vhcell,jdbcType=VARCHAR},
            "vhnum"           = #{vhnum,jdbcType=VARCHAR},
            "vhcode"          = #{vhcode,jdbcType=VARCHAR},
            "vhname"          = #{vhname,jdbcType=VARCHAR},
            "otation"         = #{otation,jdbcType=VARCHAR},
            "room"            = #{room,jdbcType=VARCHAR},
            "situation"       = #{situation,jdbcType=VARCHAR},
            "fsellmethod"     = #{fsellmethod,jdbcType=VARCHAR},
            "managestate"     = #{managestate,jdbcType=VARCHAR},
            "nbuildarea"      = #{nbuildarea,jdbcType=VARCHAR},
            "ninarea"         = #{ninarea,jdbcType=VARCHAR},
            "nleaseoutarea"   = #{nleaseoutarea,jdbcType=VARCHAR},
            "nmanagearea"     = #{nmanagearea,jdbcType=VARCHAR},
            "nsellarea"       = #{nsellarea,jdbcType=VARCHAR},
            "npublicarea"     = #{npublicarea,jdbcType=VARCHAR},
            "nunderlinearea"  = #{nunderlinearea,jdbcType=VARCHAR},
            "ngardenarea"     = #{ngardenarea,jdbcType=VARCHAR},
            "nrpublicarea"    = #{nrpublicarea,jdbcType=VARCHAR},
            "nrinarea"        = #{nrinarea,jdbcType=VARCHAR},
            "nrbuildarea"     = #{nrbuildarea,jdbcType=VARCHAR},
            "nrunderlinearea" = #{nrunderlinearea,jdbcType=VARCHAR},
            "nrgardenarea"    = #{nrgardenarea,jdbcType=VARCHAR}
        WHERE "pk_house" = #{pk_house,jdbcType=CHAR}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap">
        SELECT
            "pk_house",
            "pk_corp",
            "pk_project",
            "project",
            "building",
            "ifloor",
            "vhcell",
            "vhnum",
            "vhcode",
            "vhname",
            "otation",
            "room",
            "situation",
            "fsellmethod",
            "managestate",
            "nbuildarea",
            "ninarea",
            "nleaseoutarea",
            "nmanagearea",
            "nsellarea",
            "npublicarea",
            "nunderlinearea",
            "ngardenarea",
            "nrpublicarea",
            "nrinarea",
            "nrbuildarea",
            "nrunderlinearea",
            "nrgardenarea",
            STARTDATE,
            ENDDATE,
            FIRSTMNY,
            EVERYMNY,
            ASTRICTSTATUS,
            UPDATEDATE,
            DECORATIONAPPLYSTATE,
            ENTERAPPLY_STATE
        FROM T_HOUSE_INFO_DETAILS
        WHERE "pk_house" = '${pkHouse}'
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
			*
        FROM T_HOUSE_INFO_DETAILS
    </select>

    <select id="getHouseInfoByName" parameterType="String" resultMap="houseVOMap">
        SELECT
            "pk_project",
            "pk_house",
            "project",
            "vhname",
            "situation",
            "nbuildarea",
            OBJECT_PHONE,
            PROJECT_ADDRESS,
            PK_PROJECT
        FROM
            T_HOUSE_INFO_DETAILS
            LEFT JOIN
            T_PROJECT_INFO
                ON
                    "pk_project" = PK_PROJECT
        WHERE
            "pk_house" = #{pk_house}
    </select>

    <resultMap type="cn.rzhd.wuye.vo.HouseVO" id="houseVOMap">
        <id property="pk_project" column="pk_project"/>
        <result property="project" column="project"/>
        <result property="vhname" column="vhname"/>
        <result property="situation" column="situation"/>
        <result property="nbuildarea" column="nbuildarea"/>
        <association property="projectVO" javaType="cn.rzhd.wuye.vo.ProjectVO">
            <id property="pk_project" column="pk_project"/>
            <result property="vname" column="PROJECT_NAME"/>
        </association>
    </resultMap>

    <select id="getAll" resultMap="houseVOBackMap">
        SELECT
            H."pk_project",
            s."pk_house",
            P.PK_PROJECT,
            c."pk_customerid",
            c."vcname",
            P.PROJECT_NAME,
            H."vhcode",
            H."nsellarea",
            s."nprice",
            s."nythisdiscountmny",
            s."nytotalmnysign",
            P.PROJECT_ADDRESS,
            P.OBJECT_PHONE
        FROM
            T_HOUSE_INFO_DETAILS H
            LEFT JOIN T_PROJECT_INFO P ON H."pk_project" = P.PK_PROJECT
            LEFT JOIN "T_Sell_Contract" s ON H."pk_house" = s."pk_house"
            LEFT JOIN "T_Customer" c ON s."pk_customerid" = c."pk_customerid"
    </select>

    <resultMap type="cn.rzhd.wuye.vo.HouseVO" id="houseVOBackMap">
    	<id property="pk_project" column="pk_project"/>
    	<result property="vhcode" column="vhcode"/>
    	<result property="nsellarea" column="nsellarea"/>
    	<association property="projectVO" javaType="cn.rzhd.wuye.vo.ProjectVO">
			<id property="pk_project" column="PK_PROJECT" />
			<result property="vname" column="PROJECT_NAME" />
			<result property="object_phone" column="OBJECT_PHONE" />
			<result property="project_address" column="PROJECT_ADDRESS" />
	  	</association>
	  	<association property="customerVO" javaType="cn.rzhd.wuye.vo.CustomerVO">
			<id property="pk_customerid" column="pk_customerid" />
			<result property="vcname" column="vcname" />
	  	</association>
	  	<association property="signVO" javaType="cn.rzhd.wuye.vo.SignVO">
			<id property="pk_house" column="pk_house" />
			<result property="nprice" column="nprice" />
			<result property="nythisdiscountmny" column="nythisdiscountmny" />
			<result property="nytotalmnysign" column="nytotalmnysign" />
	  	</association>
	  </resultMap>
</mapper>