<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzhd.wuye.mapper.HouseInfoMapper">

    <resultMap id="houseInfoMap" type="HouseInfo">
        <id column="HOUSE_INFO_ID" property="houseInfoId"/>
        <result column="PROJECT_INFO_ID" property="projectInfoId"/>
        <result column="HOUSE_PROPERTY" property="houseProperty"/>
        <result column="ENTER_STATUS" property="enterStatus"/>
        <result column="STAR_LEVEL" property="starLevel"/>
        <result column="STATUS" property="status"/>
        <result column="CREATION_TIME" property="creationTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CUSTOMER_ID" property="customerId"/>
        <result column="SERVICESTATE" property="serviceState"/>
        <result column="ENTERAPPLYSTATE" property="enterApplyState"/>
        <result column="DECORATIONAPPLYSTATE" property="decorationApplyState"/>
        <association property="projectInfo" javaType="cn.rzhd.wuye.bean.ProjectInfo">
            <id column="PK_PROJECT" property="pkProject"/>
            <result column="PROJECT_NAME" property="projectName"/>
            <result column="PROJECT_ADDRESS" property="projectAddress"/>
            <result column="DEVELOPMENT_COLLECTING_COMPANY" property="developmentCollectingCompany"/>
            <result column="DEVELOPMENT_COLLECTING_ACCOUNT" property="developmentCollectingAccount"/>
            <result column="PROPERTY_COLLECTING_COMPANY" property="propertyCollectingCompany"/>
            <result column="PROPERTY_COLLECTING_ACCOUNT" property="propertyCollectingAccount"/>
            <result column="WATER_PRICE" property="waterPrice"/>
            <result column="ELECTRICITY_PRICE" property="electricityPrice"/>
            <result column="SERVICE_PHONE" property="servicePhone"/>
            <result column="OBJECT_PHONE" property="objectPhone"/>
            <result column="CREATION_TIME" property="creationTime"/>
            <result column="UPDATE_TIME" property="updateTime"/>
            <result column="STATUS" property="status"/>
            <result column="PK_CORP" property="pkCorp"/>
            <result column="VCODE" property="vcode"/>
            <result column="VSHORTNAME" property="vshortname"/>
            <result column="PK_RESPONSECORP" property="pkResponsecorp"/>
            <result column="VINCODE" property="vincode"/>
            <result column="DECORATE_MANAGE" property="decorateManage"/>
            <result column="PASSCARD_PLEDGE" property="passcardPledge"/>
            <result column="PASSCARD_COST" property="passcardCost"/>
            <result column="DECORATE_AREA" property="decorateArea"/>
            <result column="LESS_PLEDGE" property="lessPledge"/>
            <result column="MORE_PLEDGE" property="morePledge"/>
        </association>
    </resultMap>

    <select id="getById" resultMap="houseInfoMap">
        SELECT *
        FROM T_HOUSE_INFO
        WHERE HOUSE_INFO_ID = '${houseInfoId}'
    </select>

    <select id="getAll" resultMap="houseInfoMap">
        SELECT
            HOUSE_INFO_ID,
            PROJECT_INFO_ID,
            HOUSE_PROPERTY,
            ENTER_STATUS,
            STAR_LEVEL,
            STATUS,
            CREATION_TIME,
            UPDATE_TIME,
            CUSTOMER_ID,
            STARTDATE,
            ENDDATE,
            FIRSTMNY,
            EVERYMNY,
            ASTRICTSTATUS,
            UPDATEDATE,
            ENTERAPPLYSTATE,
            DECORATIONAPPLYSTATE
        FROM T_HOUSE_INFO
    </select>
    <select id="selectByQuery" resultMap="houseInfoMap">
        SELECT
        HOUSE_INFO_ID,
        PROJECT_INFO_ID,
        HOUSE_PROPERTY,
        ENTER_STATUS,
        STAR_LEVEL,
        STATUS,
        CREATION_TIME,
        UPDATE_TIME,
        CUSTOMER_ID,
        STARTDATE,
        ENDDATE,
        FIRSTMNY,
        EVERYMNY,
        ASTRICTSTATUS,
        UPDATEDATE ,ENTERAPPLYSTATE,
        DECORATIONAPPLYSTATE
        FROM T_HOUSE_INFO
        <where>
            CUSTOMER_ID=#{customerid}
        </where>
    </select>
    <!--添加房产信息-->
    <insert id="add" parameterType="HouseInfo">
        INSERT INTO T_HOUSE_INFO (HOUSE_INFO_ID, PROJECT_INFO_ID, HOUSE_PROPERTY, ENTER_STATUS, STAR_LEVEL, STATUS, CREATION_TIME, CUSTOMER_ID, SERVICESTATE)
        VALUES (#{houseInfoId}, #{projectInfoId}, #{houseProperty}, #{enterStatus}, #{starLevel}, #{status},
                #{creationTime}, #{customerId}, #{serviceState})
    </insert>
    <!--修改房产信息-->
    <update id="update" parameterType="HouseInfo">
        UPDATE T_HOUSE_INFO
        SET
        <if test="projectInfoId!=null">
            PROJECT_INFO_ID = #{projectInfoId},
        </if>
        <if test="houseProperty!=null">
            HOUSE_PROPERTY = #{houseProperty},
        </if>
        <if test="enterStatus!=null">
            ENTER_STATUS = #{enterStatus},
        </if>
        <if test="starLevel!=null">
            STAR_LEVEL = #{starLevel},
        </if>
        <if test="status!=null">
            STATUS = #{status},
        </if>
        <if test="updateTime!=null">
            UPDATE_TIME = #{updateTime},
        </if>
        <if test="customerId!=null">
            CUSTOMER_ID = #{customerId},
        </if>
        <if test="enterApplyState!=null">
            ENTERAPPLYSTATE = #{enterApplyState},
        </if>
        <if test="decorationApplyState!=null">
            DECORATIONAPPLYSTATE = #{decorationApplyState}
        </if>
        WHERE HOUSE_INFO_ID = #{houseInfoId}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM T_HOUSE_INFO
        WHERE HOUSE_INFO_ID = #{id}
    </delete>
</mapper>