<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.KfFeeMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.KfFee">
        <result column="pk_corp" property="pk_corp" jdbcType="CHAR"/>
        <result column="pk_customerid" property="pk_customerid" jdbcType="CHAR"/>
        <result column="pk_project" property="pk_project" jdbcType="CHAR"/>
        <result column="pk_house" property="pk_house" jdbcType="CHAR"/>
        <result column="pk_receivablesid" property="pk_receivablesid" jdbcType="CHAR"/>
        <result column="feetype" property="feetype" jdbcType="VARCHAR"/>
        <result column="actmonth" property="actmonth" jdbcType="VARCHAR"/>
        <result column="dbegin" property="dbegin" jdbcType="VARCHAR"/>
        <result column="dend" property="dend" jdbcType="VARCHAR"/>
        <result column="dshpay" property="dshpay" jdbcType="VARCHAR"/>
        <result column="nmny" property="nmny"/>
        <result column="vmemo" property="vmemo" jdbcType="VARCHAR"/>
        <result column="nyshouldmny" property="nyshouldmny" jdbcType="VARCHAR"/>
        <result column="arrears" property="arrears"/>
        <result column="account" property="account" />
        <result column="companyName" property="companyName"/>
    </resultMap>

    <resultMap id="forPay" type="map">
        <result column="months" property="months"/>
        <result column="feetype" property="feetype"/>
        <result column="dbegin" property="beginDate"/>
        <result column="dend" property="stopDate"/>
        <result column="amount" property="sum"/>
        <result column="nyshouldmny" property="shouldmny"/>
        <result column="shouldSum" property="shouldSum"/>
        <result column="account" property="account" />
        <result column="companyName" property="companyName"/>
    </resultMap>

    <sql id="arrearsSql">
        <where>
            AND "pk_house"=#{houseInfoId} AND "pk_customerid"=#{customerId} AND "dshpay" &lt;=
            TO_CHAR(SYSDATE,'YYYY-MM-DD') AND "isrz" = 'N'
            <if test="startDate != null and startDate != ''">
                AND SUBSTR("dshpay",1,7) >= #{startDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND SUBSTR("dshpay",1,7) &lt;=
                SUBSTR(to_char(to_date(substr(#{endDate},1,7),'YYYY-MM')+interval'1'month,'YYYY-MM'),1,7)
            </if>
        </where>
    </sql>

    <sql id="queryForPay">
        <where>
            AND "pk_house"='${houseInfoId}' AND "pk_customerid"='${customerId}' AND "dshpay" &lt;=
            TO_CHAR(SYSDATE,'YYYY-MM-DD') AND "isrz" = 'N'
            <if test="startDate != null and startDate != ''">
                AND SUBSTR("dshpay",1,7) >= SUBSTR('${startDate}',1,7)
            </if>
            <if test="endDate != null and endDate != ''">
                AND SUBSTR("dshpay",1,7) &lt;=
                SUBSTR(to_char(to_date('${endDate}','YYYY-MM-DD')+interval'1'month,'YYYY-MM-DD'),1,7)
            </if>
        </where>
    </sql>
    <!--用于插入从ERP获取的数据-->
    <insert id="insert" parameterType="cn.rzhd.wuye.vo.FeeVO">
        INSERT INTO "T_KF_Fee" ("pk_corp", "pk_customerid", "pk_project",
                                "pk_house", "pk_receivablesid", "pk_feetype",
                                "feetype", "actmonth", "dbegin",
                                "dend", "dshpay", "vmemo",
                                "nyshouldmny")
        VALUES (#{pk_corp,jdbcType=CHAR}, #{pk_customerid,jdbcType=CHAR}, #{pk_project,jdbcType=CHAR},
                                          #{pk_house,jdbcType=CHAR}, #{pk_receivablesid,jdbcType=CHAR},
                                          #{pk_feetype,jdbcType=CHAR},
                                          #{feetype,jdbcType=VARCHAR}, #{actmonth,jdbcType=VARCHAR},
                                          #{dbegin,jdbcType=VARCHAR},
                                          #{dend,jdbcType=VARCHAR}, #{dshpay,jdbcType=VARCHAR},
                #{vmemo,jdbcType=VARCHAR},
                #{nyshouldmny,jdbcType=VARCHAR})
    </insert>
    <insert id="insertRzFee" parameterType="cn.rzhd.wuye.vo.FeeVO">
        INSERT INTO "T_KF_Fee" ("pk_corp", "pk_customerid", "pk_project",
                                "pk_house", "pk_receivablesid", "pk_feetype",
                                "feetype", "actmonth", "dbegin",
                                "dend", "dshpay", "vmemo",
                                "nyshouldmny", "isrz", "nyjmny")
        VALUES (#{pk_corp,jdbcType=CHAR}, #{pk_customerid,jdbcType=CHAR}, #{pk_project,jdbcType=CHAR},
                                          #{pk_house,jdbcType=CHAR}, #{pk_receivablesid,jdbcType=CHAR},
                                          #{pk_feetype,jdbcType=CHAR},
                                          #{feetype,jdbcType=VARCHAR}, #{actmonth,jdbcType=VARCHAR},
                                          #{dbegin,jdbcType=VARCHAR},
                                          #{dend,jdbcType=VARCHAR}, #{dshpay,jdbcType=VARCHAR},
                #{vmemo,jdbcType=VARCHAR},
                #{nyshouldmny,jdbcType=VARCHAR}, 'Y', #{nyjmny})
    </insert>
    <select id="selectAll" resultMap="BaseResultMap" parameterType="cn.rzhd.wuye.vo.query.FeeDataQuery">
        SELECT
            "T_KF_Fee"."pk_corp",
            "pk_customerid",
            "pk_project",
            "pk_house",
            "pk_receivablesid",
            "pk_feetype",
            "feetype",
            "actmonth",
            "dbegin",
            "dend",
            "dshpay",
            "nmny",
            "vmemo",
            "nyshouldmny",
            NVL("nyshouldmny", 0) - NVL("T_KF_Fee"."nmny", 0) AS arrears,
            T_BANK_ACCOUNT."account" AS account,
            T_COMPANY."unitname" AS companyName
        FROM "T_KF_Fee" JOIN T_BANK_ACCOUNT ON "pk_feetype"="pk_fee"
            JOIN T_COMPANY ON "vdef1"=T_COMPANY."pk_corp"
        WHERE "isrz" = 'N' AND "pk_house" = #{houseInfoId} AND "pk_customerid" = '${customerId}' AND
              "dshpay" > TO_CHAR(SYSDATE, 'YYYY-MM-DD')
    </select>

    <select id="selectAllRZ" resultMap="BaseResultMap" parameterType="cn.rzhd.wuye.vo.query.FeeDataQuery">
        SELECT
            "T_KF_Fee"."pk_corp",
            "pk_customerid",
            "pk_project",
            "pk_house",
            "pk_receivablesid",
            "pk_feetype",
            "feetype",
            "actmonth",
            "dbegin",
            "dend",
            "dshpay",
            "vmemo",
            "nmny",
            "nyshouldmny",
            T_BANK_ACCOUNT."account" AS account,
            T_COMPANY."unitname" AS companyName
        FROM "T_KF_Fee" JOIN T_BANK_ACCOUNT ON "pk_feetype"="pk_fee"
            JOIN T_COMPANY ON "vdef1"=T_COMPANY."pk_corp"
        WHERE "isrz" = 'Y' AND "pk_house" = '${houseInfoId}'
    </select>
    <select id="selectAllArrears" resultMap="BaseResultMap" parameterType="cn.rzhd.wuye.vo.query.ArrearsQuery">
        SELECT
        "T_KF_Fee"."pk_corp",
        "pk_customerid",
        "pk_project",
        "pk_house",
        "pk_receivablesid",
        "feetype",
        "actmonth",
        "dbegin",
        "dend",
        "dshpay",
        "vmemo",
        "nmny",
        "nyshouldmny",
        NVL("nyshouldmny",0)-NVL("nmny",0) AS arrears,
        T_BANK_ACCOUNT."account" AS account,
        T_COMPANY."unitname" AS companyName
        FROM "T_KF_Fee" JOIN T_BANK_ACCOUNT ON "pk_feetype"="pk_fee"
        JOIN T_COMPANY ON "vdef1"=T_COMPANY."pk_corp"
        <include refid="arrearsSql"/>
    </select>
    <select id="selectForPay" parameterType="cn.rzhd.wuye.vo.query.ArrearsQuery" resultMap="forPay">
        SELECT
        SUBSTR("dshpay", 1, 7) AS months,
        "feetype",
        "dbegin",
        "dend",
        SUM("nyshouldmny") - SUM(NVL("nmny", 0)) AS amount,
        SUM("nyshouldmny") AS shouldSum,
        T_BANK_ACCOUNT."account" AS account,
        T_COMPANY."unitname" AS companyName
        FROM "T_KF_Fee" JOIN T_BANK_ACCOUNT ON "pk_feetype"="pk_fee"
        JOIN T_COMPANY ON "vdef1"=T_COMPANY."pk_corp"
        <include refid="queryForPay"/>
        GROUP BY
        SUBSTR("dshpay", 1, 7),
        "feetype",
        "dbegin",
        "dend",
        "pk_feetype",
        "nyshouldmny",
        T_BANK_ACCOUNT."account",
        T_COMPANY."unitname"
        ORDER BY
        SUBSTR("dshpay", 1, 7)
    </select>
</mapper>