<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.KfFeePayDetailsMapper">
    <sql id="whereSql">
        <where>
            AND HOUSE_INFO_ID = #{houseInfoId} AND CUSTOMER_ID=#{customerId} AND PAY_TIME BETWEEN
            to_date(#{startDate},'YYYY-MM-DD') and to_date(#{endDate},'YYYY-MM-DD')
        </where>
    </sql>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.KfFeePayDetails">
        INSERT INTO T_KF_FEE_PAY_DETAILS (KF_FEE_PAY_DETAILS_ID,
                                          HOUSE_INFO_ID,
                                          CLIENT_NAME,
                                          FEE_TYPE,
                                          PAY_MANNER,
                                          PAY_MONTH,
                                          START_DATE,
                                          END_DATE,
                                          PAYABLE,
                                          PAID_IN,
                                          VOUCHER_NUMBER,
                                          INVOICE,
                                          INVOICE_NUMBER,
                                          INVOICE_NOTES,
                                          INVOICE_STATUS,
                                          COLLECTING_COMPANY,
                                          COLLECTING_ACCOUNT,
                                          INVOICE_COMPANY,
                                          PAY_TIME,
                                          CARTE_TIME,
                                          UPDATE_TIME,
                                          CUSTOMER_ID,
                                          RECORDS_ID)
        VALUES
            (#{kfFeePayDetailsId}, #{houseInfoId}, #{clientName}, #{costType}, #{payManner}, #{payMonth}, #{startDate},
                                   #{endDate}, #{payable}, #{paidIn}, #{voucherNumber},
                #{invoice}, #{invoiceNumber}, #{invoiceNotes}, #{invoiceStatus}, #{collectingCompany},
                #{collectingAccount}, #{invoiceCompany}, #{payTime}, #{carteTime}, #{updateTime}, #{customerId},
             #{recordsId})
    </insert>
    <update id="changeStatus" parameterType="long">
        UPDATE T_KF_FEE_PAY_DETAILS
        SET STATUS = 'Y'
        WHERE KF_FEE_PAY_DETAILS_ID = #{id}
    </update>

    <resultMap id="KfFeePayDetailsMapper" type="cn.rzhd.wuye.bean.KfFeePayDetails">
        <id property="kfFeePayDetailsId" column="KF_FEE_PAY_DETAILS_ID"/>
        <result property="houseInfoId" column="HOUSE_INFO_ID"/>
        <result property="clientName" column="CLIENT_NAME"/>
        <result property="costType" column="FEE_TYPE"/>
        <result property="payManner" column="PAY_MANNER"/>
        <result property="payMonth" column="PAY_MONTH"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="payable" column="PAYABLE"/>
        <result property="paidIn" column="PAID_IN"/>
        <result property="voucherNumber" column="VOUCHER_NUMBER"/>
        <result property="invoice" column="INVOICE"/>
        <result property="invoiceNumber" column="INVOICE_NUMBER"/>
        <result property="invoiceNotes" column="INVOICE_NOTES"/>
        <result property="invoiceStatus" column="INVOICE_STATUS"/>
        <result property="collectingCompany" column="COLLECTING_COMPANY"/>
        <result property="collectingAccount" column="COLLECTING_ACCOUNT"/>
        <result property="invoiceCompany" column="INVOICE_COMPANY"/>
        <result property="payTime" column="PAY_TIME"/>
        <result property="carteTime" column="CARTE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="customerId" column="CUSTOMER_ID"/>
        <result property="recordsId" column="RECORDS_ID"/>
    </resultMap>


    <select id="queryAll" parameterType="cn.rzhd.wuye.vo.query.KfFeePayDetailsQuery"
            resultMap="KfFeePayDetailsMapper">
        SELECT KF_FEE_PAY_DETAILS_ID,
        HOUSE_INFO_ID,
        CLIENT_NAME,
        FEE_TYPE,
        PAY_MANNER,
        PAY_MONTH,
        START_DATE,
        END_DATE,
        PAYABLE,
        PAID_IN,
        VOUCHER_NUMBER,
        INVOICE,
        INVOICE_NUMBER,
        INVOICE_NOTES,
        INVOICE_STATUS,
        COLLECTING_COMPANY,
        COLLECTING_ACCOUNT,
        INVOICE_COMPANY,
        PAY_TIME,
        CARTE_TIME,
        UPDATE_TIME,
        CUSTOMER_ID,
        RECORDS_ID
        FROM T_KF_FEE_PAY_DETAILS
        <include refid="whereSql"/>
    </select>
    <resultMap type="java.util.Map" id="map">
        <id property="detailsId" column="KF_FEE_PAY_DETAILS_ID"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="houseCode" column="vhcode"/>
        <result property="clientName" column="CLIENT_NAME"/>
        <result property="costType" column="FEE_TYPE"/>
        <result property="payManner" column="PAY_MANNER"/>
        <result property="payMonth" column="PAY_MONTH"/>
        <result property="startDate" column="START_DATE"/>
        <result property="endDate" column="END_DATE"/>
        <result property="payable" column="PAYABLE"/>
        <result property="paidIn" column="PAID_IN"/>
        <result property="voucherNumber" column="VOUCHER_NUMBER"/>
        <result property="invoice" column="INVOICE"/>
        <result property="invoiceNumber" column="INVOICE_NUMBER"/>
        <result property="invoiceNotes" column="INVOICE_NOTES"/>
        <result property="invoiceStatus" column="INVOICE_STATUS"/>
        <result property="collectingCompany" column="COLLECTING_COMPANY"/>
        <result property="collectingAccount" column="COLLECTING_ACCOUNT"/>
        <result property="invoiceCompany" column="INVOICE_COMPANY"/>
        <result property="payTime" column="PAY_TIME"/>
        <result property="carteTime" column="CARTE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="customerId" column="CUSTOMER_ID"/>
        <result property="status" column="STATUS"/>
        <result property="recordsId" column="RECORDS_ID"/>
    </resultMap>
    <sql id="querySql">
        <where>
            AND T_MANAGE_USER.USER_ID = #{userId} AND T_KF_FEE_PAY_DETAILS.STATUS = 'Y'
            <if test="startDate!=null and endDate!=null">
                AND PAY_TIME &gt;= #{startDate} AND PAY_TIME &lt;= #{endDate}
            </if>
            <if test="feeType!=null">
                AND FEE_TYPE = #{feeType}
            </if>
            <if test="payManner!=null">
                AND PAY_MANNER = #{payManner}
            </if>
            <if test="keyWords !=null and keyWords!=''">
                AND (
                T_PROJECT_INFO.PROJECT_NAME LIKE '%'||'${keyWords}'||'%'
                OR T_HOUSE_INFO_DETAILS."vhcode" LIKE '%'||'${keyWords}'||'%'
                OR CLIENT_NAME LIKE '%'||'${keyWords}'||'%'
                )
            </if>
        </where>
    </sql>
    <select id="getByProject" parameterType="cn.rzhd.wuye.vo.query.PropertyRecordsQuery" resultMap="map">
        SELECT a2.*,RN FROM (
        SELECT a1.*,ROWNUM AS RN FROM (
        SELECT
        DISTINCT
        KF_FEE_PAY_DETAILS_ID,
        T_PROJECT_INFO.PROJECT_NAME,
        T_HOUSE_INFO_DETAILS."vhcode",
        CLIENT_NAME,
        FEE_TYPE,
        PAY_MANNER,
        PAY_MONTH,
        START_DATE,
        END_DATE,
        PAYABLE,
        PAID_IN,
        VOUCHER_NUMBER,
        INVOICE,
        INVOICE_NUMBER,
        INVOICE_NOTES,
        INVOICE_STATUS,
        COLLECTING_COMPANY,
        COLLECTING_ACCOUNT,
        INVOICE_COMPANY,
        PAY_TIME,
        CARTE_TIME,
        T_KF_FEE_PAY_DETAILS.UPDATE_TIME,
        CUSTOMER_ID,
        T_KF_FEE_PAY_DETAILS.STATUS,
        RECORDS_ID
        FROM T_KF_FEE_PAY_DETAILS
        JOIN T_HOUSE_INFO_DETAILS ON T_HOUSE_INFO_DETAILS."pk_house" = T_KF_FEE_PAY_DETAILS.HOUSE_INFO_ID
        JOIN T_PROJECT_INFO ON T_HOUSE_INFO_DETAILS."pk_project" = T_PROJECT_INFO.PK_PROJECT
        JOIN T_MANAGE ON T_HOUSE_INFO_DETAILS.MANAGE_ID = T_MANAGE."pk_manageId"
        JOIN T_MANAGE_USER ON T_MANAGE_USER.MANAGE_ID = T_MANAGE."pk_manageId"
        <include refid="querySql"/>
        ORDER BY PAY_TIME DESC
        ) a1 WHERE ROWNUM &lt;=#{endNum}
        )a2 where RN &gt;#{startNum}
    </select>
    <select id="getCostType" resultType="string">
        SELECT "feename"
        FROM T_FEE_TYPES
        WHERE "feecode" = #{feecode} AND "pk_corp" = #{pk_corp}
    </select>
    <select id="getCompanyAccount" resultType="string">
        SELECT "account"
        FROM T_BANK_ACCOUNT
            JOIN T_FEE_TYPES ON T_FEE_TYPES."pk_fee" = T_BANK_ACCOUNT."pk_fee"
        WHERE "feecode" = #{feecode} AND T_FEE_TYPES."pk_corp" = #{pk_corp}
    </select>
    <select id="getCompanyName" resultType="string">
        SELECT "unitname"
        FROM T_COMPANY
            JOIN T_BANK_ACCOUNT ON T_COMPANY."pk_corp" = "vdef1"
            JOIN T_FEE_TYPES ON T_FEE_TYPES."pk_fee" = T_BANK_ACCOUNT."pk_fee"
        WHERE T_FEE_TYPES."pk_corp" = #{pk_corp} AND "feecode" = #{feecode}
    </select>
    <select id="countByQuery" parameterType="cn.rzhd.wuye.vo.query.PropertyRecordsQuery" resultType="integer">
        SELECT
        COUNT(DISTINCT KF_FEE_PAY_DETAILS_ID)
        FROM T_KF_FEE_PAY_DETAILS
        JOIN T_HOUSE_INFO_DETAILS ON T_HOUSE_INFO_DETAILS."pk_house" = T_KF_FEE_PAY_DETAILS.HOUSE_INFO_ID
        JOIN T_PROJECT_INFO ON T_HOUSE_INFO_DETAILS."pk_project" = T_PROJECT_INFO.PK_PROJECT
        JOIN T_MANAGE ON T_HOUSE_INFO_DETAILS.MANAGE_ID = T_MANAGE."pk_manageId"
        JOIN T_MANAGE_USER ON T_MANAGE_USER.MANAGE_ID = T_MANAGE."pk_manageId"
        <include refid="querySql"/>
    </select>
</mapper>