<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.KfFeeInvoiceMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.KfFeeInvoice">
        <id column="KF_FEE_INVOICE_DETAILS_ID" property="kfFeeInvoiceDetailsId" jdbcType="DECIMAL"/>
        <result column="INVOICE_TYPE" property="invoiceType" jdbcType="DECIMAL"/>
        <result column="INVOICE_COMPANY" property="invoiceCompany" jdbcType="OTHER"/>
        <result column="BASIC_KF_FEE" property="basicKfFee" jdbcType="DECIMAL"/>
        <result column="KF_FEE_INVOICE_SUM" property="kfFeeInvoiceSum" jdbcType="DECIMAL"/>
        <result column="TRIPLE_AGREEMENT" property="tripleAgreement" jdbcType="OTHER"/>
        <result column="AGENCY_PAY_CREDENTIAL" property="agencyPayCredential" jdbcType="OTHER"/>
        <result column="CARTE_TIME" property="carteTime" jdbcType="DATE"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="DATE"/>
        <result column="KF_FEE_PAY_DETAILS_ID" property="kfFeePayDetailsId" jdbcType="DECIMAL"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
        DELETE FROM T_KF_INVOICE
        WHERE KF_FEE_INVOICE_DETAILS_ID = #{kfFeeInvoiceDetailsId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.KfFeeInvoice">
        INSERT INTO T_KF_INVOICE (KF_FEE_INVOICE_DETAILS_ID, INVOICE_TYPE,
                                  INVOICE_COMPANY, BASIC_KF_FEE, KF_FEE_INVOICE_SUM,
                                  TRIPLE_AGREEMENT, AGENCY_PAY_CREDENTIAL, CARTE_TIME,
                                  UPDATE_TIME, KF_FEE_PAY_DETAILS_ID)
        VALUES (#{kfFeeInvoiceDetailsId,jdbcType=DECIMAL}, #{invoiceType,jdbcType=DECIMAL},
                #{invoiceCompany,jdbcType=OTHER}, #{basicKfFee,jdbcType=DECIMAL}, #{kfFeeInvoiceSum,jdbcType=DECIMAL},
                #{tripleAgreement,jdbcType=OTHER}, #{agencyPayCredential,jdbcType=OTHER}, #{carteTime,jdbcType=DATE},
                #{updateTime,jdbcType=DATE}, #{kfFeePayDetailsId,jdbcType=DECIMAL})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.KfFeeInvoice">
        UPDATE T_KF_INVOICE
        SET INVOICE_TYPE          = #{invoiceType,jdbcType=DECIMAL},
            INVOICE_COMPANY       = #{invoiceCompany,jdbcType=OTHER},
            BASIC_KF_FEE          = #{basicKfFee,jdbcType=DECIMAL},
            KF_FEE_INVOICE_SUM    = #{kfFeeInvoiceSum,jdbcType=DECIMAL},
            TRIPLE_AGREEMENT      = #{tripleAgreement,jdbcType=OTHER},
            AGENCY_PAY_CREDENTIAL = #{agencyPayCredential,jdbcType=OTHER},
            CARTE_TIME            = #{carteTime,jdbcType=DATE},
            UPDATE_TIME           = #{updateTime,jdbcType=DATE},
            KF_FEE_PAY_DETAILS_ID = #{kfFeePayDetailsId,jdbcType=DECIMAL}
        WHERE KF_FEE_INVOICE_DETAILS_ID = #{kfFeeInvoiceDetailsId,jdbcType=DECIMAL}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal">
        SELECT
            KF_FEE_INVOICE_DETAILS_ID,
            INVOICE_TYPE,
            INVOICE_COMPANY,
            BASIC_KF_FEE,
            KF_FEE_INVOICE_SUM,
            TRIPLE_AGREEMENT,
            AGENCY_PAY_CREDENTIAL,
            CARTE_TIME,
            UPDATE_TIME,
            KF_FEE_PAY_DETAILS_ID
        FROM T_KF_INVOICE
        WHERE KF_FEE_INVOICE_DETAILS_ID = #{kfFeeInvoiceDetailsId,jdbcType=DECIMAL}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            KF_FEE_INVOICE_DETAILS_ID,
            INVOICE_TYPE,
            INVOICE_COMPANY,
            BASIC_KF_FEE,
            KF_FEE_INVOICE_SUM,
            TRIPLE_AGREEMENT,
            AGENCY_PAY_CREDENTIAL,
            CARTE_TIME,
            UPDATE_TIME,
            KF_FEE_PAY_DETAILS_ID
        FROM T_KF_INVOICE
    </select>
</mapper>