<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.PerfectInformationMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.PerfectInformation">
        <id column="PERFECT_INFORMATION_ID" property="perfectInformationId"/>
        <result column="HOUSE_INFO_ID" property="houseInfoId"/>
        <result column="COMPANY_TYPE" property="companyType"/>
        <result column="CUSTOMER_ID" property="customerId"/>
        <result column="HOUSE_PROPERTY_ID" property="housePropertyId"/>
        <result column="COMPANY_ESTABLISH_TIME" property="companyEstablishTime"/>
        <result column="SIGN_IN_FUND" property="signInFund"/>
        <result column="INDUSTRY_INVOLVED_ID" property="industryInvolvedId"/>
        <result column="MAIN_PRODUCT" property="mainProduct"/>
        <result column="COMPANY_COVERAGE_ID" property="companyCoverageId"/>
        <result column="EMPLOYEE_NUMBER" property="employeeNumber"/>
        <result column="PROPERTY_TO_ACCESS" property="propertyToAccess"/>
        <result column="PROPERTY_TO_ACCESS_CONTACT" property="propertyToAccessContact"/>
        <result column="EMERGENCY_CONTACT_PERSON" property="emergencyContactPerson"/>
        <result column="EMERGENCY_CONTACT_NUMBER" property="emergencyContactNumber"/>
        <result column="IS_HIGH_NEW" property="isHighNew"/>
        <result column="HIGH_NEW_TYPE" property="highNewType"/>
        <result column="CERTIFICATE_TIME" property="certificateTime"/>
        <result column="PATENT_TYPE_ID" property="patentTypeId"/>
        <result column="PATENT_NUMBER" property="patentNumber"/>
        <result column="IS_UP_BAZAAR" property="isUpBazaar"/>
        <result column="UP_BAZAAR_TYPE_ID" property="upBazaarTypeId"/>
        <result column="HANG_BOARD_TIME" property="hangBoardTime"/>
        <result column="STOCK_CODE" property="stockCode"/>
        <result column="NOTES" property="notes"/>
        <result column="STATUS" property="status"/>
        <result column="CARTE_TIME" property="carteTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="U_RAVINE_PROPERTY_ID" property="uRavinePropertyId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="String">
        DELETE FROM T_PERFECT_INFORMATION
        WHERE PERFECT_INFORMATION_ID = #{perfectInformationId}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.PerfectInformation">
        INSERT INTO T_PERFECT_INFORMATION (PERFECT_INFORMATION_ID, HOUSE_INFO_ID, COMPANY_TYPE,
                                           CUSTOMER_ID, HOUSE_PROPERTY_ID, COMPANY_ESTABLISH_TIME,
                                           SIGN_IN_FUND, INDUSTRY_INVOLVED_ID, MAIN_PRODUCT,
                                           COMPANY_COVERAGE_ID, EMPLOYEE_NUMBER, PROPERTY_TO_ACCESS,
                                           PROPERTY_TO_ACCESS_CONTACT, EMERGENCY_CONTACT_PERSON,
                                           EMERGENCY_CONTACT_NUMBER, IS_HIGH_NEW, HIGH_NEW_TYPE,
                                           CERTIFICATE_TIME, PATENT_TYPE_ID, PATENT_NUMBER,
                                           IS_UP_BAZAAR, UP_BAZAAR_TYPE_ID, HANG_BOARD_TIME,
                                           STOCK_CODE, NOTES, STATUS,
                                           CARTE_TIME, UPDATE_TIME, U_RAVINE_PROPERTY_ID
        )
        VALUES (#{perfectInformationId}, #{houseInfoId}, #{companyType},
                                         #{customerId}, #{housePropertyId}, #{companyEstablishTime},
                                         #{signInFund}, #{industryInvolvedId}, #{mainProduct},
                                         #{companyCoverageId}, #{employeeNumber}, #{propertyToAccess},
                                                                                  #{propertyToAccessContact},
                                                                                  #{emergencyContactPerson},
                                                                                  #{emergencyContactNumber},
                                                                                  #{isHighNew}, #{highNewType},
                                                                                  #{certificateTime}, #{patentTypeId},
                                                                                  #{patentNumber},
                                                                                  #{isUpBazaar}, #{upBazaarTypeId},
                #{hangBoardTime},
                #{stockCode}, #{notes}, #{status},
                #{carteTime}, #{updateTime}, #{uRavinePropertyId}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.PerfectInformation">
        UPDATE T_PERFECT_INFORMATION
        SET HOUSE_INFO_ID              = #{houseInfoId},
            COMPANY_TYPE               = #{companyType},
            CUSTOMER_ID                = #{customerId},
            HOUSE_PROPERTY_ID          = #{housePropertyId},
            COMPANY_ESTABLISH_TIME     = #{companyEstablishTime},
            SIGN_IN_FUND               = #{signInFund},
            INDUSTRY_INVOLVED_ID       = #{industryInvolvedId},
            MAIN_PRODUCT               = #{mainProduct},
            COMPANY_COVERAGE_ID        = #{companyCoverageId},
            EMPLOYEE_NUMBER            = #{employeeNumber},
            PROPERTY_TO_ACCESS         = #{propertyToAccess},
            PROPERTY_TO_ACCESS_CONTACT = #{propertyToAccessContact},
            EMERGENCY_CONTACT_PERSON   = #{emergencyContactPerson},
            EMERGENCY_CONTACT_NUMBER   = #{emergencyContactNumber},
            IS_HIGH_NEW                = #{isHighNew},
            HIGH_NEW_TYPE              = #{highNewType},
            CERTIFICATE_TIME           = #{certificateTime},
            PATENT_TYPE_ID             = #{patentTypeId},
            PATENT_NUMBER              = #{patentNumber},
            IS_UP_BAZAAR               = #{isUpBazaar},
            UP_BAZAAR_TYPE_ID          = #{upBazaarTypeId},
            HANG_BOARD_TIME            = #{hangBoardTime},
            STOCK_CODE                 = #{stockCode},
            NOTES                      = #{notes},
            STATUS                     = #{status},
            CARTE_TIME                 = #{carteTime},
            UPDATE_TIME                = #{updateTime},
            U_RAVINE_PROPERTY_ID       = #{uRavinePropertyId}
        WHERE PERFECT_INFORMATION_ID = #{perfectInformationId}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            PERFECT_INFORMATION_ID,
            HOUSE_INFO_ID,
            COMPANY_TYPE,
            CUSTOMER_ID,
            HOUSE_PROPERTY_ID,
            COMPANY_ESTABLISH_TIME,
            SIGN_IN_FUND,
            INDUSTRY_INVOLVED_ID,
            MAIN_PRODUCT,
            COMPANY_COVERAGE_ID,
            EMPLOYEE_NUMBER,
            PROPERTY_TO_ACCESS,
            PROPERTY_TO_ACCESS_CONTACT,
            EMERGENCY_CONTACT_PERSON,
            EMERGENCY_CONTACT_NUMBER,
            IS_HIGH_NEW,
            HIGH_NEW_TYPE,
            CERTIFICATE_TIME,
            PATENT_TYPE_ID,
            PATENT_NUMBER,
            IS_UP_BAZAAR,
            UP_BAZAAR_TYPE_ID,
            HANG_BOARD_TIME,
            STOCK_CODE,
            NOTES,
            STATUS,
            CARTE_TIME,
            UPDATE_TIME,
            U_RAVINE_PROPERTY_ID
        FROM T_PERFECT_INFORMATION
        WHERE PERFECT_INFORMATION_ID = #{perfectInformationId}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            PERFECT_INFORMATION_ID,
            HOUSE_INFO_ID,
            COMPANY_TYPE,
            CUSTOMER_ID,
            HOUSE_PROPERTY_ID,
            COMPANY_ESTABLISH_TIME,
            SIGN_IN_FUND,
            INDUSTRY_INVOLVED_ID,
            MAIN_PRODUCT,
            COMPANY_COVERAGE_ID,
            EMPLOYEE_NUMBER,
            PROPERTY_TO_ACCESS,
            PROPERTY_TO_ACCESS_CONTACT,
            EMERGENCY_CONTACT_PERSON,
            EMERGENCY_CONTACT_NUMBER,
            IS_HIGH_NEW,
            HIGH_NEW_TYPE,
            CERTIFICATE_TIME,
            PATENT_TYPE_ID,
            PATENT_NUMBER,
            IS_UP_BAZAAR,
            UP_BAZAAR_TYPE_ID,
            HANG_BOARD_TIME,
            STOCK_CODE,
            NOTES,
            STATUS,
            CARTE_TIME,
            UPDATE_TIME,
            U_RAVINE_PROPERTY_ID
        FROM T_PERFECT_INFORMATION
    </select>
    
    <select id="selectByHouseInfoId" parameterType="String" resultMap="BaseResultMap">
    	SELECT * FROM T_PERFECT_INFORMATION WHERE "HOUSE_INFO_ID" = #{houseInfoId}
    </select>
</mapper>