<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.Permission">
        <id column="PERMISSION_ID" property="permissionId"/>
        <result column="NAME" property="name"/>
        <result column="URL" property="url"/>
        <result column="NOTE" property="note"/>
        <result column="CODE" property="code"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="long">
        DELETE FROM T_PERMISSION
        WHERE PERMISSION_ID = #{permissionId,jdbcType=DECIMAL}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.Permission">
        INSERT INTO T_PERMISSION (PERMISSION_ID, "NAME", URL,
                                  NOTE, CODE)
        VALUES (#{permissionId,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR},
                #{note,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.Permission">
        UPDATE T_PERMISSION
        SET "NAME" = #{name,jdbcType=VARCHAR},
            URL  = #{url,jdbcType=VARCHAR},
            NOTE = #{note,jdbcType=VARCHAR},
            CODE = #{code,jdbcType=VARCHAR}
        WHERE PERMISSION_ID = #{permissionId,jdbcType=DECIMAL}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long">
        SELECT
            PERMISSION_ID,
            "NAME",
            URL,
            NOTE,
            CODE
        FROM T_PERMISSION
        WHERE PERMISSION_ID = #{permissionId,jdbcType=DECIMAL}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            PERMISSION_ID,
            "NAME",
            URL,
            NOTE,
            CODE
        FROM T_PERMISSION
    </select>
    <select id="getPermissionsByUser" parameterType="long" resultType="cn.rzhd.wuye.bean.Permission">
        SELECT
            T_PERMISSION.PERMISSION_ID,
            T_PERMISSION."NAME",
            URL,
            T_PERMISSION.NOTE,
            CODE
        FROM T_PERMISSION
            JOIN T_ROLE_PERMISSION ON T_PERMISSION.PERMISSION_ID = T_ROLE_PERMISSION.PERMISSION_ID
            JOIN T_ROLE ON T_ROLE.ROLE_ID = T_ROLE_PERMISSION.ROLE_ID
            JOIN T_USER_ROLE ON T_USER_ROLE.USER_ID = T_USER.USER_ID
        WHERE T_USER.USERNAME = #{username}
    </select>
</mapper>