<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.ReletApplyMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.ReletApply">
        <id column="RELET_APPLY_ID" property="reletApplyId"/>
        <result column="HOUSE_INFO_ID" property="houseInfoId"/>
        <result column="CLIENT_NAME" property="clientName"/>
        <result column="HOUSE_ACREAGE" property="houseAcreage"/>
        <result column="LEASE_START_TIME" property="leaseStartTime"/>
        <result column="LEASE_END_TIME" property="leaseEndTime"/>
        <result column="TYPE" property="type"/>
        <result column="RETREA_TIME" property="retreaTime"/>
        <result column="RETREA_TYPE" property="retreaType"/>
        <result column="SINGLE_PRICE" property="singlePrice"/>
        <result column="SUBTOTAL" property="subtotal"/>
        <result column="PRIVILEGE_SUM" property="privilegeSum"/>
        <result column="LEASE_DEPOSIT" property="leaseDeposit"/>
        <result column="TOTAL" property="total"/>
        <result column="CREATION_TIME" property="creationTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="RETREA_END_TIME" property="retreaEndTime"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from T_RELET_APPLY
        where RELET_APPLY_ID = #{reletApplyId}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.ReletApply">
        insert into T_RELET_APPLY (RELET_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME,
        HOUSE_ACREAGE, LEASE_START_TIME, LEASE_END_TIME,
        TYPE, RETREA_TIME, RETREA_TYPE,
        SINGLE_PRICE, SUBTOTAL, PRIVILEGE_SUM,
        LEASE_DEPOSIT, TOTAL, CREATION_TIME,
        UPDATE_TIME,RETREA_END_TIME)
        values (#{reletApplyId}, #{houseInfoId}, #{clientName},
        #{houseAcreage}, #{leaseStartTime}, #{leaseEndTime},
        #{type}, #{retreaTime}, #{retreaType},
        #{singlePrice}, #{subtotal}, #{privilegeSum},
        #{leaseDeposit}, #{total}, #{creationTime},
        #{updateTime},#{retreaEndTime})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.ReletApply">
        update T_RELET_APPLY
        set HOUSE_INFO_ID = #{houseInfoId},
        CLIENT_NAME = #{clientName},
        HOUSE_ACREAGE = #{houseAcreage},
        LEASE_START_TIME = #{leaseStartTime},
        LEASE_END_TIME = #{leaseEndTime},
        TYPE = #{type},
        RETREA_TIME = #{retreaTime},
        RETREA_TYPE = #{retreaType},
        SINGLE_PRICE = #{singlePrice},
        SUBTOTAL = #{subtotal},
        PRIVILEGE_SUM = #{privilegeSum},
        LEASE_DEPOSIT = #{leaseDeposit},
        TOTAL = #{total},
        CREATION_TIME = #{creationTime},
        UPDATE_TIME = #{updateTime},
        RETREA_END_TIME=#{retreaEndTime}
        where RELET_APPLY_ID = #{reletApplyId}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select RELET_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME, HOUSE_ACREAGE, LEASE_START_TIME,
        LEASE_END_TIME, TYPE, RETREA_TIME, RETREA_TYPE, SINGLE_PRICE, SUBTOTAL, PRIVILEGE_SUM,
        LEASE_DEPOSIT, TOTAL, CREATION_TIME, UPDATE_TIME,RETREA_END_TIME
        from T_RELET_APPLY
        where RELET_APPLY_ID = #{reletApplyId}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select RELET_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME, HOUSE_ACREAGE, LEASE_START_TIME,
        LEASE_END_TIME, TYPE, RETREA_TIME, RETREA_TYPE, SINGLE_PRICE, SUBTOTAL, PRIVILEGE_SUM,
        LEASE_DEPOSIT, TOTAL, CREATION_TIME, UPDATE_TIME,RETREA_END_TIME
        from T_RELET_APPLY
    </select>

    <select id="findReletApply" resultMap="BaseResultMap">
        select RELET_APPLY_ID, HOUSE_INFO_ID, CLIENT_NAME, HOUSE_ACREAGE, LEASE_START_TIME,
        LEASE_END_TIME, TYPE, RETREA_TIME, RETREA_TYPE, SINGLE_PRICE, SUBTOTAL, PRIVILEGE_SUM,
        LEASE_DEPOSIT, TOTAL, CREATION_TIME, UPDATE_TIME,RETREA_END_TIME
        from T_RELET_APPLY
        WHERE HOUSE_INFO_ID=#{houseIfoId}
    </select>
</mapper>