<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzhd.wuye.mapper.RentContractMapper">
    <select id="getById" parameterType="string" resultType="cn.rzhd.wuye.vo.PactVO">
        SELECT
            "pk_corp",
            "pk_customerid",
            "pk_project",
            "pk_pact",
            "pk_house",
            "house",
            "nrentarea",
            "dpactend",
            "dpactstart",
            "nzlbzjmny",
            "nhtysmny",
            "nhtssmny",
            "dysdate",
            "nsbzjyjmny"
        FROM "T_Rent_Contract"
        WHERE "pk_pact" = #{pk_pact}
    </select>
    <insert id="add" parameterType="cn.rzhd.wuye.vo.PactVO">
        INSERT INTO "T_Rent_Contract" ("pk_corp",
                                       "pk_customerid",
                                       "pk_project",
                                       "pk_pact",
                                       "pk_house",
                                       "house",
                                       "nrentarea",
                                       "dpactend",
                                       "dpactstart",
                                       "nzlbzjmny",
                                       "nhtysmny",
                                       "nhtssmny",
                                       "dysdate",
                                       "nsbzjyjmny"
        )
        VALUES (#{pk_corp}, #{pk_customerid}, #{pk_project}, #{pk_pact}, #{pk_house}, #{house}, #{nrentarea},
                #{dpactend}, #{dpactstart}, #{nzlbzjmny}, #{nhtysmny}, #{nhtssmny},
                #{dysdate}, #{nsbzjyjmny})
    </insert>

</mapper>