<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.RetreatLeaseApplyMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.RetreatLeaseApply">
        <id column="RETREAT_LEASE_APPLY_ID" property="retreatLeaseApplyId"/>
        <result column="HOUSE_INFO_ID" property="houseInfoId"/>
        <result column="HOUSE_NUMBER" property="houseNumber" jdbcType="OTHER"/>
        <result column="HOUSE_ACREAGE" property="houseAcreage" jdbcType="FLOAT"/>
        <result column="LEASE_START_TIME" property="leaseStartTime"/>
        <result column="LEASE_END_TIME" property="leaseEndTime"/>
        <result column="RETREAT_LEASE_TIME" property="retreatLeaseTime"/>
        <result column="RETREAT_LEASE_TYPE" property="retreatLeaseType"/>
        <result column="ARREARS_RENT" property="arrearsRent"/>
        <result column="LEASE_DEPOSIT" property="leaseDeposit"/>
        <result column="PERMIT_RETREAT_LEASE_DEPOSIT" property="permitRetreatLeaseDeposit"/>
        <result column="CREATION_TIME" property="creationTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <association property="houseInfoDetails" javaType="cn.rzhd.wuye.bean.HouseInfoDetails">
            <id column="pk_house" property="pkHouse"/>
            <result column="pk_corp" property="pkCorp"/>
            <result column="pk_project" property="pkProject"/>
            <result column="project" property="project"/>
            <result column="building" property="building"/>
            <result column="ifloor" property="ifloor"/>
            <result column="vhcell" property="vhcell"/>
            <result column="vhnum" property="vhnum"/>
            <result column="vhcode" property="vhcode"/>
            <result column="vhname" property="vhname"/>
            <result column="otation" property="otation"/>
            <result column="room" property="room"/>
            <result column="situation" property="situation"/>
            <result column="fsellmethod" property="fsellmethod"/>
            <result column="managestate" property="managestate"/>
            <result column="nbuildarea" property="nbuildarea"/>
            <result column="ninarea" property="ninarea"/>
            <result column="nleaseoutarea" property="nleaseoutarea"/>
            <result column="nmanagearea" property="nmanagearea"/>
            <result column="nsellarea" property="nsellarea"/>
            <result column="npublicarea" property="npublicarea"/>
            <result column="nunderlinearea" property="nunderlinearea"/>
            <result column="ngardenarea" property="ngardenarea"/>
            <result column="nrpublicarea" property="nrpublicarea"/>
            <result column="nrinarea" property="nrinarea"/>
            <result column="nrbuildarea" property="nrbuildarea"/>
            <result column="nrunderlinearea" property="nrunderlinearea"/>
            <result column="nrgardenarea" property="nrgardenarea"/>
            <result column="STARTDATE" property="startdate"/>
            <result column="ENDDATE" property="enddate"/>
            <result column="FIRSTMNY" property="firstmny"/>
            <result column="EVERYMNY" property="everymny"/>
            <result column="ASTRICTSTATUS" property="astrictstatus"/>
            <result column="UPDATEDATE" property="updatedate"/>
            <result column="ENTERAPPLY_STATE" property="enterapplyState"/>
            <result column="DECORATIONAPPLYSTATE" property="decorationapplystate"/>
            <association property="projectInfo" javaType="cn.rzhd.wuye.bean.ProjectInfo">
                <id column="PK_PROJECT" property="pkProject"/>
                <result column="PROJECT_NAME" property="projectName"/>
                <result column="PROJECT_ADDRESS" property="projectAddress"/>
                <result column="DEVELOPMENT_COLLECTING_COMPANY" property="developmentCollectingCompany"/>
                <result column="DEVELOPMENT_COLLECTING_ACCOUNT" property="developmentCollectingAccount"/>
                <result column="PROPERTY_COLLECTING_COMPANY" property="propertyCollectingCompany"/>
                <result column="PROPERTY_COLLECTING_ACCOUNT" property="propertyCollectingAccount"/>
                <result column="WATER_PRICE" property="waterPrice"/>
                <result column="ELECTRICITY_PRICE" property="electricityPrice"/>
                <result column="SERVICE_PHONE" property="servicePhone"/>
                <result column="OBJECT_PHONE" property="objectPhone"/>
                <result column="CREATION_TIME" property="creationTime"/>
                <result column="UPDATE_TIME" property="updateTime"/>
                <result column="STATUS" property="status"/>
                <result column="PK_CORP" property="pkCorp"/>
                <result column="VCODE" property="vcode"/>
                <result column="VSHORTNAME" property="vshortname"/>
                <result column="PK_RESPONSECORP" property="pkResponsecorp"/>
                <result column="VINCODE" property="vincode"/>
                <result column="DECORATE_MANAGE" property="decorateManage"/>
                <result column="PASSCARD_PLEDGE" property="passcardPledge"/>
                <result column="PASSCARD_COST" property="passcardCost"/>
                <result column="DECORATE_AREA" property="decorateArea"/>
                <result column="LESS_PLEDGE" property="lessPledge"/>
                <result column="MORE_PLEDGE" property="morePledge"/>
            </association>
        </association>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        DELETE FROM T_RETREAT_LEASE_APPLY
        WHERE RETREAT_LEASE_APPLY_ID = #{retreatLeaseApplyId}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.RetreatLeaseApply">
        INSERT INTO T_RETREAT_LEASE_APPLY (RETREAT_LEASE_APPLY_ID, HOUSE_INFO_ID,
                                           HOUSE_NUMBER, HOUSE_ACREAGE, LEASE_START_TIME,
                                           LEASE_END_TIME, RETREAT_LEASE_TIME,
                                           RETREAT_LEASE_TYPE, ARREARS_RENT, LEASE_DEPOSIT,
                                           PERMIT_RETREAT_LEASE_DEPOSIT, CREATION_TIME, UPDATE_TIME
        )
        VALUES (#{retreatLeaseApplyId}, #{houseInfoId},
                                        #{houseNumber}, #{houseAcreage},
                                        #{leaseStartTime},
                                        #{leaseEndTime}, #{retreatLeaseTime},
                                        #{retreatLeaseType}, #{arrearsRent},
                                        #{leaseDeposit},
                                        #{permitRetreatLeaseDeposit}, #{creationTime},
                #{updateTime}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.RetreatLeaseApply">
        UPDATE T_RETREAT_LEASE_APPLY
        SET HOUSE_INFO_ID                = #{houseInfoId},
            HOUSE_NUMBER                 = #{houseNumber},
            HOUSE_ACREAGE                = #{houseAcreage},
            LEASE_START_TIME             = #{leaseStartTime},
            LEASE_END_TIME               = #{leaseEndTime},
            RETREAT_LEASE_TIME           = #{retreatLeaseTime},
            RETREAT_LEASE_TYPE           = #{retreatLeaseType},
            ARREARS_RENT                 = #{arrearsRent},
            LEASE_DEPOSIT                = #{leaseDeposit},
            PERMIT_RETREAT_LEASE_DEPOSIT = #{permitRetreatLeaseDeposit},
            CREATION_TIME                = #{creationTime},
            UPDATE_TIME                  = #{updateTime}
        WHERE RETREAT_LEASE_APPLY_ID = #{retreatLeaseApplyId}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
            RETREAT_LEASE_APPLY_ID,
            HOUSE_INFO_ID,
            HOUSE_NUMBER,
            HOUSE_ACREAGE,
            LEASE_START_TIME,
            LEASE_END_TIME,
            RETREAT_LEASE_TIME,
            RETREAT_LEASE_TYPE,
            ARREARS_RENT,
            LEASE_DEPOSIT,
            PERMIT_RETREAT_LEASE_DEPOSIT,
            CREATION_TIME,
            UPDATE_TIME,
            house.*
        FROM T_RETREAT_LEASE_APPLY apply LEFT JOIN T_HOUSE_INFO_DETAILS house ON apply.HOUSE_INFO_ID = house."pk_house"
        WHERE RETREAT_LEASE_APPLY_ID = #{retreatLeaseApplyId}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
            RETREAT_LEASE_APPLY_ID,
            HOUSE_INFO_ID,
            HOUSE_NUMBER,
            HOUSE_ACREAGE,
            LEASE_START_TIME,
            LEASE_END_TIME,
            RETREAT_LEASE_TIME,
            RETREAT_LEASE_TYPE,
            ARREARS_RENT,
            LEASE_DEPOSIT,
            PERMIT_RETREAT_LEASE_DEPOSIT,
            CREATION_TIME,
            UPDATE_TIME,
            house.*
        FROM T_RETREAT_LEASE_APPLY apply LEFT JOIN T_HOUSE_INFO_DETAILS house ON apply.HOUSE_INFO_ID = house."pk_house"
    </select>
    <select id="findRetreatLeaseApply" resultMap="BaseResultMap">
        SELECT
            RETREAT_LEASE_APPLY_ID,
            HOUSE_INFO_ID,
            HOUSE_NUMBER,
            HOUSE_ACREAGE,
            LEASE_START_TIME,
            LEASE_END_TIME,
            RETREAT_LEASE_TIME,
            RETREAT_LEASE_TYPE,
            ARREARS_RENT,
            LEASE_DEPOSIT,
            PERMIT_RETREAT_LEASE_DEPOSIT,
            CREATION_TIME,
            UPDATE_TIME,
            house.*
        FROM T_RETREAT_LEASE_APPLY apply LEFT JOIN T_HOUSE_INFO_DETAILS house ON apply.HOUSE_INFO_ID = house."pk_house"
        WHERE
            HOUSE_INFO_ID = #{houseInfoId}
    </select>
</mapper>