<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzhd.wuye.mapper.SellContractMapper">
    <select id="getById" parameterType="string" resultType="cn.rzhd.wuye.vo.SignVO">
        SELECT pk_corp,
            pk_customerid,
            pk_project,
            pk_sign,
            pk_house,
            house,
            nsellarea,
            nprice,
            nythisdiscountmny,
            nytotalmnysign,
            fpmcourse,
            dbefinishdate,
            nyshouldmny,
            nyfactmny,
            nyshouldinterestmny,
            nyfactinterestmny
        FROM T_Sell_Contract
        WHERE pk_sign=#{pk_sign}
    </select>

    <select id="queryByCustomer" parameterType="string" resultType="cn.rzhd.wuye.vo.SignVO">
        SELECT DISTINCT "pk_house","house","pk_project",p.VSHORTNAME AS projectName FROM  "T_Sell_Contract" JOIN T_PROJECT_INFO p ON "pk_project"=p.PK_PROJECT WHERE "pk_customerid"=#{customerId}
    </select>

    <insert id="add" parameterType="cn.rzhd.wuye.vo.SignVO">
        INSERT INTO "T_Sell_Contract" ("pk_corp",
                                     "pk_customerid",
                                     "pk_project",
                                     "pk_sign",
                                     "pk_house",
                                     "house",
                                     "nsellarea",
                                     "nprice",
                                     "nythisdiscountmny",
                                     "nytotalmnysign",
                                     "fpmcourse",
                                     "dbefinishdate",
                                     "nyshouldmny",
                                     "nyfactmny",
                                     "nyshouldinterestmny",
                                     "nyfactinterestmny")
                VALUES (#{pk_corp},#{pk_customerid},#{pk_project},#{pk_sign},#{pk_house},#{house},#{nsellarea},
                        #{nprice},#{nythisdiscountmny},#{nytotalmnysign},#{fpmcourse},#{dbefinishdate},#{nyshouldmny},
                        #{nyfactmny},#{nyshouldinterestmny},#{nyfactinterestmny})
    </insert>

</mapper>