<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.TDictInfoMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.TDictInfo">
        <id column="ID" property="id" jdbcType="VARCHAR"/>
        <result column="DICT_CODE" property="dictCode" jdbcType="VARCHAR"/>
        <result column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR"/>
        <result column="INFO" property="info" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="DICTSORT" property="dictsort" jdbcType="DECIMAL"/>
        <result column="IS_ENABLE" property="isEnable" jdbcType="VARCHAR"/>
        <result column="VALUETYPE" property="valuetype" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ID, DICT_CODE, TYPE_CODE, INFO, REMARK, UPDATE_TIME, DICTSORT, IS_ENABLE, VALUETYPE
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.rzhd.wuye.bean.TDictInfoExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from T_DICT_INFO
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from T_DICT_INFO
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from T_DICT_INFO
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <delete id="deleteByExample" parameterType="cn.rzhd.wuye.bean.TDictInfoExample">
        delete from T_DICT_INFO
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.TDictInfo">
        insert into T_DICT_INFO (ID, DICT_CODE, TYPE_CODE,
        INFO, REMARK, UPDATE_TIME,
        DICTSORT, IS_ENABLE, VALUETYPE
        )
        values (#{id,jdbcType=VARCHAR}, #{dictCode,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR},
        #{info,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP},
        #{dictsort,jdbcType=DECIMAL}, #{isEnable,jdbcType=VARCHAR}, #{valuetype,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="cn.rzhd.wuye.bean.TDictInfo">
        insert into T_DICT_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="dictCode != null">
                DICT_CODE,
            </if>
            <if test="typeCode != null">
                TYPE_CODE,
            </if>
            <if test="info != null">
                INFO,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="dictsort != null">
                DICTSORT,
            </if>
            <if test="isEnable != null">
                IS_ENABLE,
            </if>
            <if test="valuetype != null">
                VALUETYPE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="dictCode != null">
                #{dictCode,jdbcType=VARCHAR},
            </if>
            <if test="typeCode != null">
                #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dictsort != null">
                #{dictsort,jdbcType=DECIMAL},
            </if>
            <if test="isEnable != null">
                #{isEnable,jdbcType=VARCHAR},
            </if>
            <if test="valuetype != null">
                #{valuetype,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="cn.rzhd.wuye.bean.TDictInfoExample" resultType="java.lang.Integer">
        select count(*) from T_DICT_INFO
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update T_DICT_INFO
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.dictCode != null">
                DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
            </if>
            <if test="record.typeCode != null">
                TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
            </if>
            <if test="record.info != null">
                INFO = #{record.info,jdbcType=VARCHAR},
            </if>
            <if test="record.remark != null">
                REMARK = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.updateTime != null">
                UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.dictsort != null">
                DICTSORT = #{record.dictsort,jdbcType=DECIMAL},
            </if>
            <if test="record.isEnable != null">
                IS_ENABLE = #{record.isEnable,jdbcType=VARCHAR},
            </if>
            <if test="record.valuetype != null">
                VALUETYPE = #{record.valuetype,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update T_DICT_INFO
        set ID = #{record.id,jdbcType=VARCHAR},
        DICT_CODE = #{record.dictCode,jdbcType=VARCHAR},
        TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
        INFO = #{record.info,jdbcType=VARCHAR},
        REMARK = #{record.remark,jdbcType=VARCHAR},
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
        DICTSORT = #{record.dictsort,jdbcType=DECIMAL},
        IS_ENABLE = #{record.isEnable,jdbcType=VARCHAR},
        VALUETYPE = #{record.valuetype,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="cn.rzhd.wuye.bean.TDictInfo">
        update T_DICT_INFO
        <set>
            <if test="dictCode != null">
                DICT_CODE = #{dictCode,jdbcType=VARCHAR},
            </if>
            <if test="typeCode != null">
                TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                INFO = #{info,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="dictsort != null">
                DICTSORT = #{dictsort,jdbcType=DECIMAL},
            </if>
            <if test="isEnable != null">
                IS_ENABLE = #{isEnable,jdbcType=VARCHAR},
            </if>
            <if test="valuetype != null">
                VALUETYPE = #{valuetype,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.TDictInfo">
        update T_DICT_INFO
        set DICT_CODE = #{dictCode,jdbcType=VARCHAR},
        TYPE_CODE = #{typeCode,jdbcType=VARCHAR},
        INFO = #{info,jdbcType=VARCHAR},
        REMARK = #{remark,jdbcType=VARCHAR},
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
        DICTSORT = #{dictsort,jdbcType=DECIMAL},
        IS_ENABLE = #{isEnable,jdbcType=VARCHAR},
        VALUETYPE = #{valuetype,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>