<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.TDictTypeMapper" >
  <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.TDictType" >
    <id column="TYPE_CODE" property="typeCode" jdbcType="VARCHAR" />
    <result column="TYPE_NAME" property="typeName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="TYPE_SORT" property="typeSort" jdbcType="DECIMAL" />
    <result column="CODE_LENGTH" property="codeLength" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TYPE_CODE, TYPE_NAME, REMARK, TYPE_SORT, CODE_LENGTH
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.rzhd.wuye.bean.TDictTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_DICT_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_DICT_TYPE
    where TYPE_CODE = #{typeCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_DICT_TYPE
    where TYPE_CODE = #{typeCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cn.rzhd.wuye.bean.TDictTypeExample" >
    delete from T_DICT_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.rzhd.wuye.bean.TDictType" >
    insert into T_DICT_TYPE (TYPE_CODE, TYPE_NAME, REMARK, 
      TYPE_SORT, CODE_LENGTH)
    values (#{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{typeSort,jdbcType=DECIMAL}, #{codeLength,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.rzhd.wuye.bean.TDictType" >
    insert into T_DICT_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeCode != null" >
        TYPE_CODE,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="typeSort != null" >
        TYPE_SORT,
      </if>
      <if test="codeLength != null" >
        CODE_LENGTH,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="typeSort != null" >
        #{typeSort,jdbcType=DECIMAL},
      </if>
      <if test="codeLength != null" >
        #{codeLength,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.rzhd.wuye.bean.TDictTypeExample" resultType="java.lang.Integer" >
    select count(*) from T_DICT_TYPE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_DICT_TYPE
    <set >
      <if test="record.typeCode != null" >
        TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      </if>
      <if test="record.typeName != null" >
        TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.typeSort != null" >
        TYPE_SORT = #{record.typeSort,jdbcType=DECIMAL},
      </if>
      <if test="record.codeLength != null" >
        CODE_LENGTH = #{record.codeLength,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_DICT_TYPE
    set TYPE_CODE = #{record.typeCode,jdbcType=VARCHAR},
      TYPE_NAME = #{record.typeName,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      TYPE_SORT = #{record.typeSort,jdbcType=DECIMAL},
      CODE_LENGTH = #{record.codeLength,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rzhd.wuye.bean.TDictType" >
    update T_DICT_TYPE
    <set >
      <if test="typeName != null" >
        TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="typeSort != null" >
        TYPE_SORT = #{typeSort,jdbcType=DECIMAL},
      </if>
      <if test="codeLength != null" >
        CODE_LENGTH = #{codeLength,jdbcType=VARCHAR},
      </if>
    </set>
    where TYPE_CODE = #{typeCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.TDictType" >
    update T_DICT_TYPE
    set TYPE_NAME = #{typeName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      TYPE_SORT = #{typeSort,jdbcType=DECIMAL},
      CODE_LENGTH = #{codeLength,jdbcType=VARCHAR}
    where TYPE_CODE = #{typeCode,jdbcType=VARCHAR}
  </update>
</mapper>