<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzhd.wuye.mapper.UserMapper">
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.User">
        INSERT INTO T_USER (USER_ID,
                            USERNAME,
                            REALNAME,
                            WORK_NO,
                            GENDER,
                            STATUS,
                            NOTE)
        VALUES (#{userId}, #{username}, #{realname}, #{workNo}, #{gender}, #{status}, #{note})
    </insert>
    <update id="update" parameterType="cn.rzhd.wuye.bean.User">
        UPDATE T_USER
        SET USERNAME = #{username},
            REALNAME = #{realname},
            WORK_NO  = #{workNo},
            GENDER   = #{gender},
            STATUS   = #{status},
            NOTE     = #{note}
        WHERE USER_ID=#{userId}
    </update>
    <select id="findByUsername" parameterType="String"
            resultType="cn.rzhd.wuye.bean.User">
        SELECT
        <include refid="allColumns"/>
        FROM T_USER WHERE USERNAME = #{username}
    </select>
    <select id="getManageId" parameterType="long" resultType="string">
        SELECT MANAGE_ID
        FROM T_MANAGE_USER
        WHERE USER_ID = #{userId}
    </select>
    <resultMap id="userMap" type="cn.rzhd.wuye.bean.User">
        <id property="userId" column="USER_ID"/>
        <result property="username" column="USERNAME"/>
        <result property="realname" column="REALNAME"/>
        <result property="workNo" column="WORK_NO"/>
        <result property="gender" column="GENDER"/>
        <result property="status" column="STATUS"/>
        <result property="note" column="NOTE"/>
    </resultMap>
    <select id="getAll" resultMap="userMap">
        SELECT
            USER_ID,
            USERNAME,
            REALNAME,
            WORK_NO,
            GENDER,
            STATUS,
            NOTE,
            "PASSWORD"
        FROM T_USER
    </select>
    <select id="getDetailsById" parameterType="long" resultMap="userMap">
        SELECT
            USER_ID,
            USERNAME,
            REALNAME,
            WORK_NO,
            GENDER,
            STATUS,
            NOTE,
            "PASSWORD"
        FROM T_USER
        WHERE USER_ID = #{id}
    </select>
    <select id="getMyRole" parameterType="long" resultType="cn.rzhd.wuye.bean.Role">
        SELECT
            T_ROLE.ROLE_ID AS roleId,
            "NAME"         AS name,
            NOTE           AS note
        FROM T_ROLE
            JOIN T_USER_ROLE ON T_ROLE.ROLE_ID = T_USER_ROLE.ROLE_ID
        WHERE USER_ID = #{id}
    </select>

    <sql id="allColumns">
        USER_ID AS userId,
        USERNAME AS username,
        REALNAME AS realname,
        WORK_NO AS workNo,
        GENDER AS gender,
        STATUS AS status,
        NOTE AS note,
        "PASSWORD" AS "password"
    </sql>
</mapper>