<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.UserMapper">
    
    <resultMap id="userMap" type="java.util.Map">
        <id property="userId" column="user_id"/>
        <result property="logo" column="logo"/>
        <result property="companyType" column="company_type"/>
        <result property="clientName" column="client_name"/>
        <result property="phone" column="phone"/>
        <result property="erpId" column="erp_id"/>
        <result property="fccategory" column="fccategory"/>
    </resultMap>
    
    <!-- 用户总条数查询 -->
   <!-- <select id ="findUserAmount" resultType="java.lang.Integer">
    	select count(USER_ID) from T_USER
    </select> -->
    
   <!-- 用户列表分页查询 -->
   <select id="findUserList" resultMap="userMap" >
        SELECT * FROM (  SELECT U.*, ROWNUM RN  
        	FROM (SELECT * FROM T_USER) U ) 
        		WHERE RN BETWEEN #{pageStartRow} AND #{pageEndRow}
    </select>
   <!-- 用户列表条件查询 -->
   <select id="findUserByCondition" resultMap="userMap">
   
   		SELECT * FROM (  SELECT U.*, ROWNUM RN  
        	FROM (SELECT * FROM T_USER 
   				WHERE CLIENT_NAME LIKE CONCAT(CONCAT('%',#{condition}),'%') or 
   					PHONE LIKE CONCAT(CONCAT('%',#{condition}),'%')) U ) 
        		WHERE RN BETWEEN #{pageStartRow} AND 
        			#{pageEndRow}
   </select>
   
   <!-- 添加用户 -->
   <insert id="addUser">
   		insert into T_USER (USER_ID,CLIENT_NAME,ERP_ID,FCCATEGORY) 
   			VALUES 
   				(#{user.userId},#{user.clientName},#{user.erpId},#{user.fccategory})
   </insert>
   <!--  查询用户id最大值 -->
   <select id="findMaxUserId" resultType="java.lang.Long">
   		select max(USER_ID) from T_USER
   </select>
   <!-- 用户信息修改 操作-->
   <update id="updateUser" >
        update T_USER set LOGO= #{user.logo},COMPANY_TYPE= #{user.companyType},
        	CLIENT_NAME= #{user.clientName},PHONE= #{user.phone} 
        	where USER_ID = #{user.userId}
   </update>
   
   <!-- 用户信息删除操作 -->
    <delete id="delUserById">
    	DELETE FROM T_USER WHERE USER_ID = #{userId} 
    </delete>
    
    <!--  查询信息是否已经保存 -->
    <select id="findUserIsRepetitionByErpId" resultType="cn.rzhd.wuye.bean.User">
    	select * from T_USER where ERP_ID = #{erpId}
    
    </select>
    
    
</mapper>