<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.UserDataPerfectionMapper">
    
    <select id="findMaxPerfectInformationId" resultType="java.lang.Integer">
    	select "NVL"("MAX"(PERFECT_INFORMATION_ID),'0') as PERFECT_INFORMATION_ID  from T_PERFECT_INFORMATION
    </select>
    
    <select id="findMaxEnterTransactMaterialId" resultType="java.lang.Integer">
    	select "NVL"("MAX"(ENTER_MATERIAL_ID),'0') as ENTER_MATERIAL_ID  from T_ENTER_MATERIAL
    </select>
    
     <!-- 个人资料完善 -->
   <insert id="addUserDataPerfection">
   		INSERT INTO T_PERFECT_INFORMATION (
   			PERFECT_INFORMATION_ID,
			HOUSE_INFO_ID,
			CUSTOMER_ID,
			COMPANY_TYPE,
			HOUSE_PROPERTY_ID,
			COMPANY_ESTABLISH_TIME,
			SIGN_IN_FUND,
			INDUSTRY_INVOLVED_ID,
			MAIN_PRODUCT,
			COMPANY_COVERAGE_ID,
			EMPLOYEE_NUMBER,
			PROPERTY_TO_ACCESS,
			PROPERTY_TO_ACCESS_CONTACT,
			EMERGENCY_CONTACT_PERSON,
			EMERGENCY_CONTACT_NUMBER,
			IS_HIGH_NEW,
			HIGH_NEW_TYPE,
			CERTIFICATE_TIME,
			PATENT_TYPE_ID,
			PATENT_NUMBER,
			IS_UP_BAZAAR,
			UP_BAZAAR_TYPE_ID,
			HANG_BOARD_TIME,
			STOCK_CODE,
			NOTES,
			STATUS,
			CARTE_TIME
			
		)
	VALUES
	(#{perfectInformation.perfectInformationId},
	#{perfectInformation.houseInfoId},#{perfectInformation.customerId},#{perfectInformation.companyType},
	#{perfectInformation.housePropertyId},#{perfectInformation.companyEstablishTime},#{perfectInformation.signInFund},
	#{perfectInformation.industryInvolvedId},#{perfectInformation.mainProduct},#{perfectInformation.companyCoverageId},
	#{perfectInformation.employeeNumber},#{perfectInformation.propertyToAccess},#{perfectInformation.propertyToAccessContact},
	#{perfectInformation.emergencyContactPerson},#{perfectInformation.emergencyContactNumber},#{perfectInformation.isHighNew},
	#{perfectInformation.highNewType},#{perfectInformation.certificateTime},#{perfectInformation.patentTypeId},
	#{perfectInformation.patentNumber},#{perfectInformation.isUpBazaar},#{perfectInformation.upBazaarTypeId},
	#{perfectInformation.hangBoardTime},#{perfectInformation.stockCode},#{perfectInformation.notes},
	#{perfectInformation.status},#{perfectInformation.carteTime}
	)
   </insert>
   
    <!-- 入驻办理，资料上传 -->
   <!--<insert id="addEnterTransactMaterial">
   		INSERT INTO T_ENTER_MATERIAL
   			(ENTER_MATERIAL_ID,
   			HOUSE_INFO_ID,
   			MATERIAL_NAME,
   			MATERIAL_ADDRESS,
   			BASIC_INFO,
   			NOTES,
   			CUSTOMER_ID)
   			VALUES
   			(#{enterMaterial.enterMaterialId},#{enterMaterial.houseInfoId},#{enterMaterial.materialName},
   			#{enterMaterial.materialAddress},#{enterMaterial.basicInfo},#{enterMaterial.notes},
   			#{enterMaterial.customerId})
   </insert>
   
   <select id="kfFeePaymentByHouseId" resultType="java.util.Map">
   		select 
   			"pk_corp","pk_customerid","pk_project","pk_house","pk_receivablesid",
   			"pk_feetype","feetype","actmonth","dbegin","dend","dshpay","vmemo",
   			"nyjmny","nyshouldmny","nmny" 
   		from 
   			"T_KF_Fee" 
   		where 
   			"pk_customerid" = #{customerId} and "pk_house"=#{houseId}
   </select>
   <select id="pfFeePaymentByHouseId" resultType="java.util.Map">
   		select 
   			"pk_corp","pk_customerid","pk_project","pk_house","pk_receivablesid",
   			"pk_feetype","feetype","actmonth","dbegin","dend","dshpay","vmemo",
   			"nyjmny","nyshouldmny","nmny" 
   		from 
   			"T_PROPERTY_FEE" 
   		where 
   			"pk_customerid" = #{customerId} and "pk_house"=#{houseId}
   </select>
   <select id="findDataPerfectionMessage">
   		select * from 
   </select>
   <select id="propertyFeePayInfo"></select>
   
   <select id="payPropertyFeeInvoice">
   		inset into T_PROPERTY_FEE_INVOICE_DETAILS
   			()
   </select> -->
    
</mapper>