<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rzhd.wuye.mapper.UserMapper">
	<select id="findByUsername" parameterType="String"
		resultType="cn.rzhd.wuye.bean.User">
		SELECT <include refid="allColumns" /> FROM T_USER WHERE USERNAME = #{username}
	</select>

	<sql id="allColumns">
		USER_ID userId ,
		USERNAME username ,
		REALNAME realname ,
		WORK_NO workNo ,
		PROJECT_BELONG projectBelong,
		GENDER gender ,
		STATUS
		status ,
		NOTE note ,
		ROLE role ,
		PASSWORD password
	</sql>
</mapper>