<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rzhd.wuye.mapper.UtilitiesDetailsMapper">
    <resultMap id="BaseResultMap" type="cn.rzhd.wuye.bean.UtilitiesDetails">
        <id column="UTILITIES_DETAILS_ID" property="utilitiesDetailsId"/>
        <result column="HOUSE_INFO_ID" property="houseInfoId"/>
        <result column="CLIENT_NAME" property="clientName"/>
        <result column="FEE_TYPE" property="costType"/>
        <result column="PAY_MANNER" property="payManner"/>
        <result column="PAY_MONTH" property="payMonth"/>
        <result column="START_DATE" property="startDate"/>
        <result column="END_DATE" property="endDate"/>
        <result column="PAYABLE" property="payable"/>
        <result column="PAID_IN" property="paidIn"/>
        <result column="VOUCHER_NUMBER" property="voucherNumber"/>
        <result column="INVOICE" property="invoice"/>
        <result column="INVOICE_NUMBER" property="invoiceNumber"/>
        <result column="INVOICE_NOTES" property="invoiceNotes"/>
        <result column="INVOICE_STATUS" property="invoiceStatus"/>
        <result column="COLLECTING_COMPANY" property="collectingCompany"/>
        <result column="COLLECTING_ACCOUNT" property="collectingAccount"/>
        <result column="INVOICE_COMPANY" property="invoiceCompany"/>
        <result column="PAY_TIME" property="payTime"/>
        <result column="AMMETER_NUMBER" property="ammeterNumber"/>
        <result column="MULTIPLYING_POWER" property="multiplyingPower"/>
        <result column="ELECTRIC_POWER" property="electricPower"/>
        <result column="CARTE_TIME" property="carteTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="CUSTOMER_ID" property="customerId"/>
        <result column="TUNNAGE" property="tunnage"/>
        <result column="STATUS" property="status"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="long">
        DELETE FROM T_UTILITIES_DETAILS
        WHERE UTILITIES_DETAILS_ID = #{utilitiesDetailsId}
    </delete>
    <insert id="insert" parameterType="cn.rzhd.wuye.bean.UtilitiesDetails">
        INSERT INTO T_UTILITIES_DETAILS (UTILITIES_DETAILS_ID, HOUSE_INFO_ID, CLIENT_NAME, FEE_TYPE, PAY_MANNER, PAY_MONTH,
                                         START_DATE, END_DATE, PAYABLE,
                                         PAID_IN, VOUCHER_NUMBER, INVOICE,
                                         INVOICE_NUMBER, INVOICE_NOTES, INVOICE_STATUS,
                                         COLLECTING_COMPANY, COLLECTING_ACCOUNT, INVOICE_COMPANY,
                                         PAY_TIME, AMMETER_NUMBER, MULTIPLYING_POWER,
                                         ELECTRIC_POWER, CARTE_TIME, UPDATE_TIME,
                                         CUSTOMER_ID, TUNNAGE, STATUS)
        VALUES (#{utilitiesDetailsId}, #{houseInfoId}, #{clientName}, #{costType},
                                       #{payManner}, #{payMonth},
                                       #{startDate}, #{endDate}, #{payable},
                                       #{paidIn}, #{voucherNumber}, #{invoice},
                                                                    #{invoiceNumber}, #{invoiceNotes}, #{invoiceStatus},
                                                                    #{collectingCompany}, #{collectingAccount},
                                                                    #{invoiceCompany},
                                                                    #{payTime}, #{ammeterNumber}, #{multiplyingPower},
                #{electricPower}, #{carteTime}, #{updateTime},
                #{customerId}, #{tunnage}, #{status})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.rzhd.wuye.bean.UtilitiesDetails">
        UPDATE T_UTILITIES_DETAILS
        SET HOUSE_INFO_ID      = #{houseInfoId},
            CLIENT_NAME        = #{clientName},
            FEE_TYPE           = #{costType},
            PAY_MANNER         = #{payManner},
            PAY_MONTH          = #{payMonth},
            START_DATE         = #{startDate},
            END_DATE           = #{endDate},
            PAYABLE            = #{payable},
            PAID_IN            = #{paidIn},
            VOUCHER_NUMBER     = #{voucherNumber},
            INVOICE            = #{invoice},
            INVOICE_NUMBER     = #{invoiceNumber},
            INVOICE_NOTES      = #{invoiceNotes},
            INVOICE_STATUS     = #{invoiceStatus},
            COLLECTING_COMPANY = #{collectingCompany},
            COLLECTING_ACCOUNT = #{collectingAccount},
            INVOICE_COMPANY    = #{invoiceCompany},
            PAY_TIME           = #{payTime},
            AMMETER_NUMBER     = #{ammeterNumber},
            MULTIPLYING_POWER  = #{multiplyingPower},
            ELECTRIC_POWER     = #{electricPower},
            CARTE_TIME         = #{carteTime},
            UPDATE_TIME        = #{updateTime},
            CUSTOMER_ID        = #{customerId},
            TUNNAGE            = #{tunnage},
            STATUS             = #{status}
        WHERE UTILITIES_DETAILS_ID = #{utilitiesDetailsId}
    </update>
    <update id="changeStatus" parameterType="long">
        UPDATE T_UTILITIES_DETAILS
        SET STATUS = 'Y'
        WHERE UTILITIES_DETAILS_ID = #{id}
    </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="long">
        SELECT
            UTILITIES_DETAILS_ID,
            HOUSE_INFO_ID,
            CLIENT_NAME,
            FEE_TYPE,
            PAY_MANNER,
            PAY_MONTH,
            START_DATE,
            END_DATE,
            PAYABLE,
            PAID_IN,
            VOUCHER_NUMBER,
            INVOICE,
            INVOICE_NUMBER,
            INVOICE_NOTES,
            INVOICE_STATUS,
            COLLECTING_COMPANY,
            COLLECTING_ACCOUNT,
            INVOICE_COMPANY,
            PAY_TIME,
            AMMETER_NUMBER,
            MULTIPLYING_POWER,
            ELECTRIC_POWER,
            CARTE_TIME,
            UPDATE_TIME,
            CUSTOMER_ID,
            TUNNAGE,
            STATUS
        FROM T_UTILITIES_DETAILS
        WHERE UTILITIES_DETAILS_ID = #{utilitiesDetailsId}
    </select>
    <select id="selectAll" parameterType="cn.rzhd.wuye.vo.query.UtilitiesQuery" resultMap="BaseResultMap">
        SELECT
            UTILITIES_DETAILS_ID,
            HOUSE_INFO_ID,
            CLIENT_NAME,
            FEE_TYPE,
            PAY_MANNER,
            PAY_MONTH,
            START_DATE,
            END_DATE,
            PAYABLE,
            PAID_IN,
            VOUCHER_NUMBER,
            INVOICE,
            INVOICE_NUMBER,
            INVOICE_NOTES,
            INVOICE_STATUS,
            COLLECTING_COMPANY,
            COLLECTING_ACCOUNT,
            INVOICE_COMPANY,
            PAY_TIME,
            AMMETER_NUMBER,
            MULTIPLYING_POWER,
            ELECTRIC_POWER,
            CARTE_TIME,
            UPDATE_TIME,
            CUSTOMER_ID,
            TUNNAGE,
            STATUS
        FROM T_UTILITIES_DETAILS
        WHERE HOUSE_INFO_ID = #{houseInfoId} AND PAY_TIME &gt;= to_date(#{startDate}, 'YYYY-MM-DD') AND PAY_TIME &lt;=
         to_date(#{endDate}, 'YYYY-MM-DD') AND STATUS = 'Y'
    </select>

    <select id="getLastElectric" parameterType="cn.rzhd.wuye.vo.query.UtilitiesQuery" resultMap="BaseResultMap">
        SELECT
            UTILITIES_DETAILS_ID,
            HOUSE_INFO_ID,
            CLIENT_NAME,
            FEE_TYPE,
            PAY_MANNER,
            PAY_MONTH,
            START_DATE,
            END_DATE,
            PAYABLE,
            PAID_IN,
            VOUCHER_NUMBER,
            INVOICE,
            INVOICE_NUMBER,
            INVOICE_NOTES,
            INVOICE_STATUS,
            COLLECTING_COMPANY,
            COLLECTING_ACCOUNT,
            INVOICE_COMPANY,
            PAY_TIME,
            AMMETER_NUMBER,
            MULTIPLYING_POWER,
            ELECTRIC_POWER,
            CARTE_TIME,
            UPDATE_TIME,
            CUSTOMER_ID,
            TUNNAGE,
            STATUS
        FROM
            (SELECT
                 UTILITIES_DETAILS_ID,
                 HOUSE_INFO_ID,
                 CLIENT_NAME,
                 FEE_TYPE,
                 PAY_MANNER,
                 PAY_MONTH,
                 START_DATE,
                 END_DATE,
                 PAYABLE,
                 PAID_IN,
                 VOUCHER_NUMBER,
                 INVOICE,
                 INVOICE_NUMBER,
                 INVOICE_NOTES,
                 INVOICE_STATUS,
                 COLLECTING_COMPANY,
                 COLLECTING_ACCOUNT,
                 INVOICE_COMPANY,
                 PAY_TIME,
                 AMMETER_NUMBER,
                 MULTIPLYING_POWER,
                 ELECTRIC_POWER,
                 CARTE_TIME,
                 UPDATE_TIME,
                 CUSTOMER_ID,
                 TUNNAGE,
                 STATUS
             FROM T_UTILITIES_DETAILS
             WHERE CUSTOMER_ID = '${customerId}' AND HOUSE_INFO_ID = '${houseInfoId}' AND ELECTRIC_POWER IS NOT NULL
                   AND STATUS = 'Y'
             ORDER BY PAY_TIME DESC)
        WHERE ROWNUM = 1
    </select>
    <select id="getLastWater" parameterType="cn.rzhd.wuye.vo.query.UtilitiesQuery" resultMap="BaseResultMap">
        SELECT
            UTILITIES_DETAILS_ID,
            HOUSE_INFO_ID,
            CLIENT_NAME,
            FEE_TYPE,
            PAY_MANNER,
            PAY_MONTH,
            START_DATE,
            END_DATE,
            PAYABLE,
            PAID_IN,
            VOUCHER_NUMBER,
            INVOICE,
            INVOICE_NUMBER,
            INVOICE_NOTES,
            INVOICE_STATUS,
            COLLECTING_COMPANY,
            COLLECTING_ACCOUNT,
            INVOICE_COMPANY,
            PAY_TIME,
            AMMETER_NUMBER,
            MULTIPLYING_POWER,
            ELECTRIC_POWER,
            CARTE_TIME,
            UPDATE_TIME,
            CUSTOMER_ID,
            TUNNAGE,
            STATUS
        FROM
            (SELECT
                 UTILITIES_DETAILS_ID,
                 HOUSE_INFO_ID,
                 CLIENT_NAME,
                 FEE_TYPE,
                 PAY_MANNER,
                 PAY_MONTH,
                 START_DATE,
                 END_DATE,
                 PAYABLE,
                 PAID_IN,
                 VOUCHER_NUMBER,
                 INVOICE,
                 INVOICE_NUMBER,
                 INVOICE_NOTES,
                 INVOICE_STATUS,
                 COLLECTING_COMPANY,
                 COLLECTING_ACCOUNT,
                 INVOICE_COMPANY,
                 PAY_TIME,
                 AMMETER_NUMBER,
                 MULTIPLYING_POWER,
                 ELECTRIC_POWER,
                 CARTE_TIME,
                 UPDATE_TIME,
                 CUSTOMER_ID,
                 TUNNAGE,
                 STATUS
             FROM T_UTILITIES_DETAILS
             WHERE CUSTOMER_ID = '${customerId}' AND HOUSE_INFO_ID = '${houseInfoId}' AND TUNNAGE IS NOT NULL
                   AND STATUS = 'Y'
             ORDER BY PAY_TIME DESC)
        WHERE ROWNUM = 1
    </select>
    <resultMap id="electricMap" type="java.util.Map">
        <id property="detailsId" column="UTILITIES_DETAILS_ID"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="houseCode" column="vhcode"/>
        <result property="clientName" column="CLIENT_NAME"/>
        <result property="payManner" column="PAY_MANNER"/>
        <result property="ammeterNo" column="AMMETER_NUMBER"/>
        <result property="multiply" column="MULTIPLYING_POWER"/>
        <result property="payTime" column="PAY_TIME"/>
        <result property="paidIn" column="PAID_IN"/>
        <result property="electricPower" column="ELECTRIC_POWER"/>
        <result property="collectingCompany" column="COLLECTING_COMPANY"/>
        <result property="collectingAccount" column="COLLECTING_ACCOUNT"/>
        <result property="voucherNumber" column="VOUCHER_NUMBER"/>
        <result property="invoiceNumber" column="INVOICE_NUMBER"/>
        <result property="invoiceNotes" column="INVOICE_NOTES"/>
        <result property="costType" column="FEE_TYPE"/>
        <result property="invoiceStatus" column="INVOICE_STATUS"/>

        <!--<result property="invoice" column="INVOICE"/>-->
        <!--<result property="invoiceCompany" column="INVOICE_COMPANY"/>-->
        <!--<result property="carteTime" column="CARTE_TIME"/>-->
        <!--<result property="updateTime" column="UPDATE_TIME"/>-->
        <!--<result property="customerId" column="CUSTOMER_ID"/>-->


    </resultMap>
    <select id="getElectricByProject" parameterType="long" resultMap="electricMap">
        SELECT
            DISTINCT
            UTILITIES_DETAILS_ID,
            T_PROJECT_INFO.PROJECT_NAME,
            T_HOUSE_INFO_DETAILS."vhcode",
            CLIENT_NAME,
            FEE_TYPE,
            PAY_MANNER,
            PAY_MONTH,
            START_DATE,
            END_DATE,
            PAYABLE,
            PAID_IN,
            VOUCHER_NUMBER,
            --             INVOICE,
            INVOICE_NUMBER,
            INVOICE_NOTES,
            INVOICE_STATUS,
            COLLECTING_COMPANY,
            COLLECTING_ACCOUNT,
            --             INVOICE_COMPANY,
            PAY_TIME,
            --             CARTE_TIME,
            --             T_UTILITIES_DETAILS.UPDATE_TIME,
            --             CUSTOMER_ID,
            T_UTILITIES_DETAILS.STATUS,
            AMMETER_NUMBER,
            MULTIPLYING_POWER,
            ELECTRIC_POWER
        FROM T_UTILITIES_DETAILS
            JOIN T_HOUSE_INFO_DETAILS ON T_HOUSE_INFO_DETAILS."pk_house" = T_UTILITIES_DETAILS.HOUSE_INFO_ID
            JOIN T_PROJECT_INFO ON T_HOUSE_INFO_DETAILS."pk_project" = T_PROJECT_INFO.PK_PROJECT
            JOIN T_MANAGE ON T_HOUSE_INFO_DETAILS.MANAGE_ID = T_MANAGE."pk_manageId"
            JOIN T_MANAGE_USER ON T_MANAGE_USER.MANAGE_ID = T_MANAGE."pk_manageId"
        WHERE T_MANAGE_USER.USER_ID = #{userId} AND FEE_TYPE = '电费' AND T_UTILITIES_DETAILS.STATUS = 'Y'
    </select>
    <resultMap id="waterMap" type="java.util.Map">
        <id property="detailsId" column="UTILITIES_DETAILS_ID"/>
        <result property="projectName" column="PROJECT_NAME"/>
        <result property="houseCode" column="vhcode"/>
        <result property="clientName" column="CLIENT_NAME"/>
        <result property="payManner" column="PAY_MANNER"/>
        <result property="payTime" column="PAY_TIME"/>
        <result property="paidIn" column="PAID_IN"/>
        <result property="tunnage" column="TUNNAGE"/>
        <result property="collectingCompany" column="COLLECTING_COMPANY"/>
        <result property="collectingAccount" column="COLLECTING_ACCOUNT"/>
        <result property="voucherNumber" column="VOUCHER_NUMBER"/>
        <result property="invoiceNumber" column="INVOICE_NUMBER"/>
        <result property="invoiceNotes" column="INVOICE_NOTES"/>
        <result property="costType" column="FEE_TYPE"/>
        <result property="invoiceStatus" column="INVOICE_STATUS"/>

        <!--<result property="invoice" column="INVOICE"/>-->
        <!--<result property="invoiceCompany" column="INVOICE_COMPANY"/>-->
        <!--<result property="carteTime" column="CARTE_TIME"/>-->
        <!--<result property="updateTime" column="UPDATE_TIME"/>-->
        <!--<result property="customerId" column="CUSTOMER_ID"/>-->
    </resultMap>
    <select id="getWaterByProject" parameterType="long" resultMap="waterMap">
        SELECT
            DISTINCT
            UTILITIES_DETAILS_ID,
            T_PROJECT_INFO.PROJECT_NAME,
            T_HOUSE_INFO_DETAILS."vhcode",
            CLIENT_NAME,
            FEE_TYPE,
            PAY_MANNER,
            PAY_MONTH,
            START_DATE,
            END_DATE,
            PAYABLE,
            PAID_IN,
            VOUCHER_NUMBER,
            --             INVOICE,
            INVOICE_NUMBER,
            INVOICE_NOTES,
            INVOICE_STATUS,
            COLLECTING_COMPANY,
            COLLECTING_ACCOUNT,
            --             INVOICE_COMPANY,
            PAY_TIME,
            --             CARTE_TIME,
            --             T_UTILITIES_DETAILS.UPDATE_TIME,
            --             CUSTOMER_ID,
            T_UTILITIES_DETAILS.STATUS,
            TUNNAGE
        FROM T_UTILITIES_DETAILS
            JOIN T_HOUSE_INFO_DETAILS ON T_HOUSE_INFO_DETAILS."pk_house" = T_UTILITIES_DETAILS.HOUSE_INFO_ID
            JOIN T_PROJECT_INFO ON T_HOUSE_INFO_DETAILS."pk_project" = T_PROJECT_INFO.PK_PROJECT
            JOIN T_MANAGE ON T_HOUSE_INFO_DETAILS.MANAGE_ID = T_MANAGE."pk_manageId"
            JOIN T_MANAGE_USER ON T_MANAGE_USER.MANAGE_ID = T_MANAGE."pk_manageId"
        WHERE T_MANAGE_USER.USER_ID = #{userId} AND FEE_TYPE = '水费' AND T_UTILITIES_DETAILS.STATUS = 'Y'
    </select>
    <select id="getAstrictPaid" resultType="bigdecimal">
        SELECT SUM(NVL(PAID_IN, 0))
        FROM T_UTILITIES_DETAILS
        WHERE HOUSE_INFO_ID = #{houseInfoId}
              AND PAY_TIME &lt; #{endDate}
              AND PAY_TIME &gt; #{startDate}
    </select>
    <select id="getCompanyName" parameterType="string" resultType="string">
        SELECT "unitname"
        FROM T_COMPANY
            JOIN T_BANK_ACCOUNT ON "vdef1" = T_COMPANY."pk_corp"
        WHERE "pk_fee" = #{pk_feeType}
    </select>
    <select id="getCompanyAccount" parameterType="string" resultType="string">
        SELECT "account"
        FROM T_BANK_ACCOUNT
        WHERE "pk_fee" = #{pk_feeType}
    </select>
    <select id="getCostType" resultType="string" parameterType="string">
        SELECT "feename"
        FROM T_FEE_TYPES
        WHERE "pk_fee" = #{pk_feeType}
    </select>
</mapper>